ai-sdr-workflow.json
{
  "id": "ZNODd4VMGda5YFbB",
  "meta": {
    "instanceId": "da4ab0dfab9545594afdbbd8e2347c29274c36efe4d80cdc8b66410174bf5bec"
  },
  "name": "Featured - AI SDR",
  "tags": [],
  "nodes": [
    {
      "id": "1bb26fa0-12fa-4971-9bb8-c9c26287954d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        300,
        2000
      ],
      "parameters": {
        "text": "=Use the provided company info and intent to write a short, personalized cold email for YOUR_COMPANY_NAME.\n\nLeads name: {{ $('Webhook').first().json.body.name }}\nCompany: {{ $('Webhook').first().json.body.company }}\nIntent / Interest: Lead generation AI agent with Rag\n\nFirst line of the email: {{ $('Basic LLM Chain1').item.json.text }}\n\n**Important lead details**: {{ $json.text }}\n\nInstructions:\n- Start with Hi (name),\n- then the provided first line only (don’t write your own intro)\n- Based on the **intent**, identify which YOUR_COMPANY_NAME automation is relevant (lead gen, proposal docs, CRM sync, voice agent, etc.)\n- Reference one automation that directly solves that problem\n- Pull one short, quantified stat or client win from the Google Doc *only if it matches the intent*\n- Keep the tone friendly, curious, and clear\n- End with a soft, open-ended question (like “curious if that’s something you're exploring?”)\n- Keep it under 150 words total",
        "options": {
          "systemMessage": "=You’re writing as a smart, friendly founder at YOUR_COMPANY_NAME — a company that YOUR_COMPANY_SERVICES for YOUR_TARGET_MARKET.\n\nYour goal is to write helpful, personalized first-touch cold emails that feel human, casual, and relevant — not salesy, not robotic.\n\nBefore writing, read the YOUR_COMPANY_NAME knowledge base (Google Doc) to understand exactly what we offer, and what’s actually worked (stats, use cases, tools).\n\nOnly mention things that are relevant to the person’s interest — no random features or fake praise.\n\nEach email must:\n- Start with the provided first line ({{ $('Basic LLM Chain1').item.json.text }})\n- Offer ONE specific solution YOUR_COMPANY_NAME has that matches their need\n- Include ONE useful stat or client win *if* it fits naturally\n- End with a soft, open-ended question (no pressure, no “book a call”)\n\nYou’re speaking like a founder (YOUR_NAME or teammate), so make it sound real. Chill, sharp, short. Under 150 words.\n\nNever mention it’s an email. Never use full names. Just talk to them."
        },
        "promptType": "define"
      },
      "typeVersion": 1.7
    },
    {
      "id": "74d58b12-9edc-4af8-b230-ddc8d1493c98",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -6000,
        2040
      ],
      "webhookId": "c7355c30-8531-40b4-b882-ba1ea7f9fafa",
      "parameters": {
        "path": "c7355c30-8531-40b4-b882-ba1ea7f9fafa",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 2
    },
    {
      "id": "286eed98-a44d-4aba-860c-5460883353c2",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        600,
        2000
      ],
      "webhookId": "3f61d291-9fd0-4efd-8a75-c616ae78993b",
      "parameters": {
        "sendTo": "=x@x.com",
        "message": "={{ $json.output }}\n\nSent from my iPhone.",
        "options": {
          "bccList": "x@ax.com",
          "appendAttribution": false
        },
        "subject": "=Let's Automate {{ $('Webhook').item.json.body.company }}",
        "emailType": "text"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "x@x.com"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "48fc0fa2-2b8a-4ea3-8a3b-83c2c0601125",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        5460,
        2240
      ],
      "webhookId": "9bca014d-0600-4b3c-aa00-7a3597925825",
      "parameters": {
        "text": "=New Lead That Didn't Book A Call:\nName: {{ $('Webhook').item.json.body.name }}\nEmail: {{ $('Webhook').item.json.body.email }}\nCompany: {{ $('Webhook').item.json.body.company }}\nAutomation Needs: {{ $('Webhook').item.json.body.message }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "xxxxxxxxxxx",
          "cachedResultName": "leads"
        },
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "xxxxx"
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "6f5a384d-ae58-4c64-9bcd-180ae1369560",
      "name": "Hunter",
      "type": "n8n-nodes-base.hunter",
      "position": [
        -4820,
        2180
      ],
      "parameters": {
        "email": "={{ $json.text }}",
        "operation": "emailVerifier"
      },
      "typeVersion": 1
    },
    {
      "id": "116cfbfd-e95e-4b25-9c62-9b54bec9fac2",
      "name": "Enrich Lead",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        -4080,
        2140
      ],
      "parameters": {
        "url": "=",
        "options": {}
      },
      "typeVersion": 4.2,
      "alwaysOutputData": false
    },
    {
      "id": "f508925f-8366-4096-92c9-1150ac0a4cf1",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -4480,
        2340
      ],
      "webhookId": "fe4d2f4b-975f-453b-9b07-11ea591b3fdb",
      "parameters": {
        "chatId": "xxxxxxxxxx",
        "message": "=lead with invalid email:\nNAME: {{ $('Webhook').item.json.body.name }}\nEMAIL: {{ $('Webhook').item.json.body.email }}",
        "options": {},
        "operation": "sendAndWait",
        "formFields": {
          "values": [
            {
              "fieldLabel": "correct email?",
              "placeholder": "email",
              "requiredField": true
            }
          ]
        },
        "responseType": "customForm"
      },
      "typeVersion": 1.2
    },
    {
      "id": "ebac7de4-5e90-4057-b0ef-2169cf95cf90",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -5120,
        2180
      ],
      "parameters": {
        "text": "=Email 1: {{ $('Webhook').item.json.body.email }}\nEmail 2: {{ $json.correct_email }}\n\n\n\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert email extractor that only outputs a single email that comes in. You will receive an email from two different places and only one of them will have a valid output and you need to just output that one. \n\n**CRUICAL STEP**\n**IF THERES ONLY ONE EMAIL SHOWN -> OUTPUT EMAIL 1. IF THERES TWO EMAILS AVAILABLE -> OUTPUT EMAIL 2**"
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "33b17694-c633-4f1a-a492-1f1518d11828",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -5140,
        2360
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "RL2T9qzlXCBXalW4",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "f5a0203e-7a55-4196-b470-eac95792e42e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        -4340,
        2340
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "25d195b1-a0fd-4fcf-8560-931e14a77df2",
              "name": "correct_email",
              "type": "string",
              "value": "={{ $json.data['correct email?'] }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "bcc27ce6-5acb-4071-8043-fcf21b6a96bd",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -5260,
        2180
      ],
      "parameters": {},
      "typeVersion": 3.1
    },
    {
      "id": "b156ccb1-bdbf-421a-8ee0-14b8cc9e693b",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        -3920,
        2140
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "d194be05-cc28-431f-8329-577c053ae2ed",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "404"
            },
            {
              "id": "254d64e8-f60a-4b95-9647-8455a4966a81",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "400"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "85a12128-f53f-4f0c-87d8-4bf4e30a72f9",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -3720,
        2180
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "RL2T9qzlXCBXalW4",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "a422af61-3449-4667-9c15-f9142e633595",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -3440,
        2180
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "RL2T9qzlXCBXalW4",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "1a9546c8-fd76-4422-9244-260d02717b5c",
      "name": "Extract domain or company",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -3720,
        2000
      ],
      "parameters": {
        "text": "=Inputs:\nEmail: `{{ $('Edit Fields').item.json.correct_email }}`\nCompany name (from form): `{{ $('Webhook').first().json.body.company }}`",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert lead data extractor. Your job is to extract the correct domain or company from an email address and compare it to the company name, if provided.\n\nRules:\n- If the email is from a free email provider (e.g., gmail.com, outlook.com, yahoo.com), output the company name that was provided in the form.\n- If the email is from a custom domain (e.g., x@x.com), output the domain from the email address (e.g., https://x.com).\n- Do NOT output the person's name.\n- Only output either the domain or company name — not both.\n- MAKE SURE YOU include \"www.\" or \"https://\""
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "8148d2e4-a29b-4da1-9b5a-ae2dade738e6",
      "name": "Full Domain or just company",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -3420,
        2000
      ],
      "parameters": {
        "text": "=here is the input to decipher: {{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert at differentiating full company domains from just company names. \n\nYour task is to decipher if the input is just a company name like Apple or if its a full company domain like Apple.com. \n\nYour output should be True or False\n\nTRUE= Full domain \nFALSE= Just comany name"
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "c262df09-6b3b-49c7-b343-f2e7e89d73a2",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "position": [
        -3120,
        2000
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "fc93e7d7-510c-4587-99e1-d0d0fef8e372",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.text }}",
              "rightValue": "True"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "ebc8f376-8508-4e3c-bafb-157244f0a0e2",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -2640,
        1960
      ],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "markdown"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "2483b0b7-c5fe-4028-94d3-2edd8ce9f919",
      "name": "OpenAI Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -2640,
        2480
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "RL2T9qzlXCBXalW4",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "635ef79f-8147-4a46-b69c-db23923ef976",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -2200,
        2340
      ],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "fullname"
            },
            {
              "fieldToAggregate": "profile_url"
            },
            {
              "fieldToAggregate": "is_creator"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "baf810ab-2ca3-4942-97fd-784b52916640",
      "name": "OpenAI Chat Model5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1980,
        2480
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "RL2T9qzlXCBXalW4",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "9effb950-8aa5-47fc-8675-f5eff4de1ba4",
      "name": "Extract company linkedin url",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -2640,
        2340
      ],
      "parameters": {
        "text": "=here is all the links: \n{{ $json.social_links }}\n",
        "messages": {
          "messageValues": [
            {
              "message": "=From all of these links only extract the url of the linkedin profile. They will come in a random order each time, so we need to grab only the LinkedIn url. \n\nONLY EXTRACT THE COMPANY LINKEDIN URL"
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "0efa827d-8f80-402e-9daa-a2c330ec272c",
      "name": "Extract personal linkedin url",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -1980,
        2340
      ],
      "parameters": {
        "text": "=Heres the name to match: {{ $('Webhook').first().json.body.name }}\n\nheres the new names coming in from the linkedin search: {{ $json.fullname }}\n\nNow heres the linkedin URL's you need to find the one that matches the two matched names:\n{{ $json.profile_url }}\n\nHere is if the user is_creator:\n{{ $json.is_creator }}\n\nThis only matters if there are multiple name matches otherwise carry on.\n\nONLY OUTPUT THE URL NOT THE NAME",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert at matching the name and outputting the correct url for that persons profile.\n\nYou will be passed 1-50 names and will need to extract the name that matches the one from the webhook. \n\nYou will then output only the Full Name and linkedin URL for that matched user. \n\nIMPORTANT: The first name can be present, as long as there is a partial match that is okay. \n\nFor example: \nJohn and John Smith would be a match \n\nbecasue the first name matches. If theres multiple first name matches then find the one that has is_creator true. that means they crerated the account. this is afallback last resort. "
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "907ae6c7-2e61-471e-83a9-bf2eb41b44a6",
      "name": "Get social media urls",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2780,
        2340
      ],
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apioracle~company-domain/run-sync-get-dataset-items",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendQuery": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.data?.person?.employment?.domain || $('Webhook').item.json.body?.company }}"
            }
          ]
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "token"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "e7953537-4a79-4b24-bd56-e6633972a3d4",
      "name": "extract personal linkedin from company",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2340,
        2340
      ],
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apimaestro~linkedin-company-employees-scraper-no-cookies/run-sync-get-dataset-items",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendQuery": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "identifier",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "token"
            }
          ]
        }
      },
      "typeVersion": 4.2,
      "alwaysOutputData": true
    },
    {
      "id": "e5f83d98-9775-434c-b2e6-73eee46bbbe0",
      "name": "extract personal linkedin details",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1680,
        2340
      ],
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apimaestro~linkedin-profile-detail/run-sync-get-dataset-items",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendQuery": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "token"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "cb274263-6d54-41ae-be8c-a3a6a296e60f",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1120,
        2140
      ],
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"addParentData\": false,\n  \"directUrls\": [\n    \"{{ $json.text }}\"\n  ],\n  \"enhanceUserSearchWithFacebookPage\": false,\n  \"isUserReelFeedURL\": false,\n  \"isUserTaggedFeedURL\": false,\n  \"onlyPostsNewerThan\": \"60 days\",\n  \"resultsLimit\": 5,\n  \"resultsType\": \"posts\",\n  \"searchLimit\": 1,\n  \"searchType\": \"hashtag\"\n}",
        "sendBody": true,
        "sendQuery": true,
        "specifyBody": "json",
        "queryParameters": {
          "parameters": [
            {
              "name": "token"
            }
          ]
        }
      },
      "typeVersion": 4.2,
      "alwaysOutputData": true
    },
    {
      "id": "01bb1d11-a7bf-4b87-9319-41d7ee93ea49",
      "name": "OpenAI Chat Model6",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1420,
        2280
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "RL2T9qzlXCBXalW4",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "e1bd12c9-f898-4df1-bd0b-f63be8dfaa64",
      "name": "Aggregate2",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -980,
        2140
      ],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "caption"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "73b08bea-11f7-45bc-bba4-3554836eefa6",
      "name": "HTTP Request6",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1420,
        2400
      ],
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apimaestro~linkedin-batch-profile-posts-scraper/run-sync-get-dataset-items",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"usernames\": [\n    \"{{ $json.message }}\"\n  ],\n  \"limit\": 5\n}",
        "sendBody": true,
        "sendQuery": true,
        "specifyBody": "json",
        "queryParameters": {
          "parameters": [
            {
              "name": "token"
            }
          ]
        }
      },
      "typeVersion": 4.2,
      "alwaysOutputData": true
    },
    {
      "id": "3205c525-4227-4b3e-a969-62c12bc875d8",
      "name": "Aggregate3",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -1280,
        2400
      ],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "e13bd2ad-2a75-4fa6-9eec-1337c4e2e92b",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        -700,
        1980
      ],
      "parameters": {
        "numberInputs": 4
      },
      "typeVersion": 3.1
    },
    {
      "id": "06e0c799-672a-43de-9824-7089503384b9",
      "name": "Aggregate4",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -1280,
        1960
      ],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "markdown"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "ae717975-b403-4254-bd8f-4b1d51531e54",
      "name": "Aggregate5",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -440,
        2000
      ],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "markdown"
            },
            {
              "fieldToAggregate": "caption"
            },
            {
              "fieldToAggregate": "text"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "76e9e5d9-7db0-41cc-8da5-f91417272af7",
      "name": "Basic LLM Chain1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -300,
        2000
      ],
      "parameters": {
        "text": "=\n---\n\n## 🧠 User Prompt Template (Per Company)\n\nThis is what you send along with each request:\n\n\nAnalyze the following company description and industry. Identify a unique value, growth signal, or compelling idea.\n\nCompany Details: \nWebsite details: {{ $json.markdown }}\n\nInstagram details: {{ $json.caption }}\n\nLinkedIn details: {{ $json.text }}\n\nWhat the lead is interested in: {{ $('Webhook').item.json.body.message }}\n\nCompany name: {{ $('Webhook').item.json.body.company }}\n\nName: {{ $('Webhook').item.json.body.name }}\n\nReturn only a 1–2 sentence opening line that compliments them in a natural, excited tone.\n\nExample:\n\"Love what you’re doing with [X] — especially how you’ve [done Y]. Excited to see how that plays out.\"",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a persuasive B2B copywriter. Your task is to write highly personalized opening lines for cold outreach emails based on company descriptions and industries. \n\nThe goal is to identify one impressive, exciting, or clever thing about the company and congratulate them naturally — as if you’re a founder or growth partner who genuinely appreciates their work. \n\nBe real. No fluff. No templated phrases. Always sound sharp, casual, and observant. If there’s nothing super specific to praise, compliment their mission, branding, or momentum.\n\nYour response should ONLY include a 1–2 sentence “congrats” line."
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "e8599550-94db-4b52-a92c-dacdfebc506f",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        -300,
        2160
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": "4PndUbo0T9ZZGsH6",
          "name": "Zoom friday CS call"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "a67d93b1-e613-4925-89e1-a3e51aa2346a",
      "name": "Knowledge Base",
      "type": "n8n-nodes-base.googleDocsTool",
      "position": [
        580,
        2360
      ],
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/18wXNd28f_Regxuo51TPtgv8ADBd47rpCB3B3R4wX3mk/edit?tab=t.0"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "1Xxqe5ZpnUZIAlDH",
          "name": "Blaise Google Docs Account"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "8c09b19b-68eb-41bd-9f44-94d0d74b4fdd",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        280,
        2160
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "RL2T9qzlXCBXalW4",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "93107504-093e-411b-8c2c-6ca2bdfa981f",
      "name": "Gmail1",
      "type": "n8n-nodes-base.gmail",
      "position": [
        740,
        2000
      ],
      "webhookId": "0b796521-299d-485b-b268-5d984085bb99",
      "parameters": {
        "labelIds": [
          "Label_6404049094877547716"
        ],
        "messageId": "={{ $json.id }}",
        "operation": "addLabels"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "Qez5dlB6Fian35KE",
          "name": "support@aiacquisition.com"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "fd54a830-a745-4e03-9bfe-27e42548011c",
      "name": "Basic LLM Chain2",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        0,
        2000
      ],
      "parameters": {
        "text": "=All details below:\n\nCompany Details: \nWebsite details: {{ $('Aggregate5').item.json.markdown }}\n\nInstagram details: {{ $('Aggregate5').item.json.caption }}\n\nLinkedIn details: {{ $json.text }}\n\nWhat the lead is interested in: {{ $('Webhook').item.json.body.message }}\n\nCompany name: {{ $('Webhook').item.json.body.company }}\n\nName: {{ $('Webhook').item.json.body.name }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert AI analyst and research assistant at YOUR_COMPANY_NAME. Your job is to read and analyze business information to produce insightful summaries.\n\nStep 1: You must first read and internalize the full social media posts and grasp the key things the lead is currently doing thats intersting and working for them. LinkedIn is a key indicator for success metrics and thought leadership so use that to your advantage. Instagram would have more focus on personal brand so focus on looking for how they are presneting themselves and their brand to their customers.\n\nStep 2: After reading the company knowledge base, you will analyze the provided inputs (company website content, LinkedIn, Instagram, founder data, etc.). Prioritize what’s recent, impressive, and relevant to YOUR_COMPANY_SERVICES.\n\nStep 3: Your output is a 3-paragraph professional summary that captures:\n- What this company does (products, market, tone)\n- Why it matters (noteworthy signals, hiring, traction, social proof)\n- How YOUR_COMPANY_NAME might help them, indirectly inferred\n"
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "929f8cf7-b669-4619-ba98-e7133e7a8911",
      "name": "OpenAI Chat Model7",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        0,
        2160
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "RL2T9qzlXCBXalW4",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "511e3e27-c8ad-448b-8441-f0b74e90e2ea",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        1040,
        2000
      ],
      "webhookId": "845ee714-b4ad-4b4c-91b7-0384eb8419b9",
      "parameters": {
        "unit": "hours",
        "amount": 24
      },
      "typeVersion": 1.1
    },
    {
      "id": "32a71ba9-784d-4b01-8a42-64904856f826",
      "name": "Gmail2",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1180,
        2000
      ],
      "webhookId": "dde844eb-cf32-44cc-8817-23a3a6894ab3",
      "parameters": {
        "simple": false,
        "options": {
          "returnOnlyMessages": true
        },
        "resource": "thread",
        "threadId": "={{ $json.threadId }}",
        "operation": "get"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "Qez5dlB6Fian35KE",
          "name": "support@aiacquisition.com"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "96582273-4978-49d3-8359-970165d205b2",
      "name": "Aggregate6",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1320,
        2000
      ],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "threadId"
            },
            {
              "fieldToAggregate": "From"
            },
            {
              "fieldToAggregate": "snippet"
            },
            {
              "fieldToAggregate": "id"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "a7ef1d5a-f188-4e4e-bbd4-4da52d7caeb1",
      "name": "Basic LLM Chain3",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1480,
        2000
      ],
      "parameters": {
        "text": "=Here are the details:\n\nEmails: {{ $json.From }}\n\nSnippet: {{ $json.snippet }}\n\nThread ID: {{ $json.threadId }}\n\nMessage ID: {{ $json.id }}\n\nAlways output in lower case \"true\", \"false\"",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert in email confirmation. \n\nyour task is to figure out if the sender is not us. \n\nif the sender is not us, then you will output true, and if it is us then output false. \n\nfor context, we are sending an email and after 24 hours, checking to see if they have asnwered us back. If not then we are sending another personalized email after our check.\n\nThere will be one email that is x@x.com. If thats the only one that means they didn't answer, but if theres two and its not that one then it means they answered us. \n\nIF YOU SEE TWO EMAILS IN THE EMAIL SECTION THAT MEANS ITS TRUE, OTHER WISE IT MEANS FALSE IF THERES ONLY x@x.com\n\n"
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "770a368d-0f11-430d-90c8-12f462a52a86",
      "name": "OpenAI Chat Model8",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1480,
        2140
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "RL2T9qzlXCBXalW4",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "c3f25792-1c81-4355-8bdb-684995b7a794",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "position": [
        1780,
        2000
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8f36f4fe-ea12-4e4c-b4e4-49613fab8ae0",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Basic LLM Chain3').item.json.text }}",
              "rightValue": "true"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "153e5a6c-4624-43de-b474-9e25597dafdc",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1980,
        1840
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "e3fa3629-3e0c-49d2-8697-6ae556df1cf4",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "position": [
        2560,
        2080
      ],
      "webhookId": "8c81ce4c-7cd8-4cc2-a58c-14282c0a6312",
      "parameters": {
        "unit": "hours",
        "amount": 48
      },
      "typeVersion": 1.1
    },
    {
      "id": "4bc3e460-4981-4877-bef4-567a8607f7c5",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "position": [
        3180,
        2080
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8f36f4fe-ea12-4e4c-b4e4-49613fab8ae0",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Basic LLM Chain4').item.json.text }}",
              "rightValue": "true"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "0e2e8254-5717-4737-bfa2-35520608a198",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3420,
        1860
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "37f99cf9-5e2a-4c28-954a-c99f19966a61",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1960,
        2080
      ],
      "parameters": {
        "text": "=Use the provided company info and intent to write a short, personalized cold email for YOUR_COMPANY_NAME.\n\nLeads name: {{ $('Webhook').first().json.body.name }}\nCompany: {{ $('Webhook').first().json.body.company }}\nIntent / Interest: Lead generation AI agent with Rag\n\n**Important lead details**: {{ $('Basic LLM Chain2').item.json.text }}\n\nWebsite info: \n\nInstructions:\n- Start with Hi (name),\n- then the provided first line only (don’t write your own intro)\n- Based on the **intent**, identify which YOUR_COMPANY_NAME automation is relevant (lead gen, proposal docs, CRM sync, voice agent, etc.)\n- Reference one automation that directly solves that problem\n- Pull one short, quantified stat or client win from the Google Doc *only if it matches the intent*\n- Keep the tone friendly, curious, and clear\n- End with a soft, open-ended question (like “curious if that’s something you're exploring?”)\n- Keep it under 150 words total\n",
        "options": {
          "systemMessage": "=You are writing as YOUR_NAME, the founder of YOUR_COMPANY — a company that COMPANY_SERVICES_DESCRIPTION.\n\nThis email goes out **24 hours after someone filled out our form but didn’t respond** to the first message. It is a direct but friendly follow-up that sounds like a real founder — sharp, helpful, and confident, with no fluff or generic AI tone.\n\nBefore writing, you must read the COMPANY_NAME knowledge base (Google Doc) to understand what we offer and what’s worked — including specific tools, use cases, and results.\n\nWrite like this:\n- Add a quick, thoughtful line showing you understand what they’re doing (pull from their form info or website)\n- Show how one of our AI agents could save them real time or money — be specific\n- If natural, include one client result or stat (only if it reinforces your point)\n- End with a bold, open-ended line like:  \n  “Have you given up on YOUR_COMPANY_SERVICE?”  \n  (Avoid phrases like “just checking in” or “circling back”)\n- Include this booking link at the end: `YOUR_CALENDAR_LINK`\n\nTone: clean, direct, and confident — no filler, no pleasantries. Write like a smart founder talking to a peer. Keep it short — under **140 words total**.\n\nNever say “this is a follow-up.” Never mention the delay or reference “previous emails.”\n\n**ALWAYS use the Google Doc tool for context.**"
        },
        "promptType": "define"
      },
      "typeVersion": 1.7
    },
    {
      "id": "e8f3a2e9-02de-4ab2-8680-f2580734e999",
      "name": "OpenAI Chat Model9",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1960,
        2240
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "xxxxx"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "bd2edf9e-c570-43ea-84a0-d155a28ebd8c",
      "name": "Knowledge Base1",
      "type": "n8n-nodes-base.googleDocsTool",
      "position": [
        2200,
        2400
      ],
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/edit?tab=t.0"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "xxxxx"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "06516381-a161-43e7-9379-0d71a82f7ce7",
      "name": "Basic LLM Chain4",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2880,
        2080
      ],
      "parameters": {
        "text": "=Here are the details:\n\nAll details: {{ JSON.stringify($json.messages, null, 2) }}\n\nMessage ID: {{ $json.id }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert in email confirmation. \n\nyour task is to figure out if the sender is not us. \n\nif the sender is not us, then you will output true, and if it is us then output false. \n\nfor context, we are sending an eail and after 24 hours, checking to see if they have asnwered us back. If not then we are sending another personalized email after our check.\n\nThere will be one email that is x@x.com. If thats the only one that means they didn't answer, but if theres two and its not that one then it means they answered us. \n\nIF YOU SEE ANOTHER EMAIL OTHER THAN x@x.com OUTPUT true BUT IF THERES ONLY x@x.com THEN OUTPUT false\n\n"
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "d40a8bef-1d5b-4629-8e53-711173b47a5e",
      "name": "OpenAI Chat Model10",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2860,
        2220
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "xxxxx"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "b3317b19-db80-4b20-9a5c-974d3ad75eb6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5360,
        1820
      ],
      "parameters": {
        "width": 1200,
        "height": 780,
        "content": "## Verify if leads email is real or not\n\n❗ **Must be updated**\n- Hunter API credentials required"
      },
      "typeVersion": 1
    },
    {
      "id": "32254553-af4c-4d64-bb1b-344e81f8ab6e",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1420,
        1960
      ],
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apify~website-content-crawler/run-sync-get-dataset-items",
        "method": "POST",
        "options": {},
        "jsonBody": "=",
        "sendBody": true,
        "sendQuery": true,
        "specifyBody": "json",
        "queryParameters": {
          "parameters": [
            {
              "name": "token"
            }
          ]
        }
      },
      "typeVersion": 4.2,
      "alwaysOutputData": true
    },
    {
      "id": "054fe227-625c-4441-9642-ddb50e7f7c6e",
      "name": "Aggregate7",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        2720,
        2080
      ],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "messages"
            },
            {
              "fieldToAggregate": "id"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "0318e050-d958-4cdf-8b9b-d422eedf6155",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "position": [
        4000,
        2160
      ],
      "webhookId": "8c81ce4c-7cd8-4cc2-a58c-14282c0a6312",
      "parameters": {
        "unit": "hours",
        "amount": 48
      },
      "typeVersion": 1.1
    },
    {
      "id": "deda3b02-8d6a-4c27-b2c3-cc4405c5b26c",
      "name": "Gmail7",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3740,
        2160
      ],
      "webhookId": "a2740067-298f-46a6-a684-9fb58e9cdccb",
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {},
        "resource": "thread",
        "threadId": "={{ $('If3').item.json.threadId }}",
        "messageId": "={{ $('If3').item.json.id }}",
        "operation": "reply"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "x@x.com"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "c92bb50f-9ba8-4c98-8665-2e49f7ac28d7",
      "name": "AI Agent2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3420,
        2160
      ],
      "parameters": {
        "text": "=Use the provided company info and intent to write a short, personalized cold email for YOUR_COMPANY_NAME.\n\nLeads name: {{ $('Webhook').first().json.body.name }}\nCompany: {{ $('Webhook').first().json.body.company }}\nIntent / Interest: Lead generation AI agent with Rag\n\nFirst line of the email: {{ $('Basic LLM Chain1').item.json.text }}\n\n**Important lead details**: {{ $('Basic LLM Chain2').item.json.text }}\n\n\nWebsite details **important to refernce**:",
        "options": {
          "systemMessage": "=You are writing as YOUR_NAME, founder of YOUR_COMPANY_NAME — a company that YOUR_COMPANY_SERVICES.\n\nThis is the **third follow-up email** to someone who filled out a form but hasn’t replied to the first two emails.\n\nThis message must be extremely short — **3 lines max** — and focused entirely on:\n- Reminding them they filled out a form\n- Tying it directly to a specific COMPANY_DELIVERABLE we offer\n- Mentioning one clear value outcome (e.g. time saved, hours replaced, revenue generated)\n- Including this call link at the end: `YOUR_CALENDAR_LINK`\n\nNo intros, no fluff, no “just checking in,” no referencing past emails.\n\nTone: clean, confident, and professional — like a founder who respects their time.\n\nUse their name, and personalize based on what they wanted automated (use available data from the form).\n\n**ALWAYS use the YOUR_COMPANY_NAME knowledge base (Google Doc) to pull accurate tools, use cases, and value props.**\n\n**Strict limit: 3 short lines.**"
        },
        "promptType": "define"
      },
      "typeVersion": 1.7
    },
    {
      "id": "86818788-4e25-48b7-8fa8-0024c9356a6e",
      "name": "OpenAI Chat Model11",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3420,
        2320
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "xxxxx"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "8aa88f99-cde1-457c-b5a3-97315c2156e9",
      "name": "Knowledge Base2",
      "type": "n8n-nodes-base.googleDocsTool",
      "position": [
        3620,
        2320
      ],
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/edit?tab=t.0"
      },
      "typeVersion": 2
    },
    {
      "id": "37a8ffa6-529c-4d6b-8e61-b2f9a75bb279",
      "name": "Basic LLM Chain5",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        4320,
        2160
      ],
      "parameters": {
        "text": "=Here are the details:\n\nAll details: {{ JSON.stringify($json.messages, null, 2) }}\n\nMessage ID: {{ $json.id }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert in email confirmation. \n\nyour task is to figure out if the sender is not us. \n\nif the sender is not us, then you will output true, and if it is us then output false. \n\nfor context, we are sending an eail and after 24 hours, checking to see if they have asnwered us back. If not then we are sending another personalized email after our check.\n\nThere will be one email that is x@x.com. If thats the only one that means they didn't answer, but if theres two and its not that one then it means they answered us. \n\nIF YOU SEE ANOTHER EMAIL OTHER THAN x@x.com OUTPUT true BUT IF THERES ONLY x@x.com THEN OUTPUT false\n\n"
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "2abfa79d-59c1-4114-8f8d-dc4563f148f3",
      "name": "OpenAI Chat Model12",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        4320,
        2300
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "xxxxx"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "c88ffeb0-d34c-4ba2-9824-cfb4869c7948",
      "name": "Aggregate8",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        4160,
        2160
      ],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "messages"
            },
            {
              "fieldToAggregate": "id"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "efb5fa27-f04e-48d7-bb2d-66637f3d5af8",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "position": [
        4620,
        2160
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "afabcbce-499d-4bdc-8797-5f63a3323a14",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "b14e9b39-8598-4102-a4cd-e8cfa50758c3",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "position": [
        4840,
        1940
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "ac1a13ed-a783-46d0-9248-506286fd8d95",
      "name": "Gmail8",
      "type": "n8n-nodes-base.gmail",
      "position": [
        5160,
        2240
      ],
      "webhookId": "a2740067-298f-46a6-a684-9fb58e9cdccb",
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {},
        "resource": "thread",
        "threadId": "={{ $('If3').item.json.threadId }}",
        "messageId": "={{ $('If3').item.json.id }}",
        "operation": "reply"
      },
      "typeVersion": 2.1
    },
    {
      "id": "e013d30a-2e3e-4bc6-b717-aa811960fc11",
      "name": "AI Agent3",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        4840,
        2240
      ],
      "parameters": {
        "text": "=Use the provided company info and intent to write a short, personalized cold email for YOUR_COMPANY_NAME.\n\nLeads name: {{ $('Webhook').first().json.body.name }}\nCompany: {{ $('Webhook').first().json.body.company }}\nIntent / Interest: Lead generation AI agent with Rag\n\nFirst line of the email: {{ $('Basic LLM Chain1').item.json.text }}\n\n**Important lead details**: {{ $('Basic LLM Chain2').item.json.text }}\n\n**important** website details: ",
        "options": {
          "systemMessage": "=You are writing as YOUR_NAME, founder of YOUR_COMPANY_NAME — a company that YOUR_COMPANY_SERVICES.\n\nThis is the **4th and final email** to someone who filled out a form but hasn’t replied to the first three messages.\n\nThis message must be a **single short paragraph — 1 to 2 lines max**.\n\nYour job:\n- Get their attention with a direct, human question that makes them think\n- Reference what they wanted to automate (from their form)\n- Avoid fluff, intros, or backstory\n- Sound sharp, clean, and respectful — like a founder who values their time\n- Include this booking link at the end: `YOUR_CALENDAR_LINK`\n\nTone: confident, not desperate. You're offering real value — they just need to decide.\n\nExample formats:\n> Have you given up on YOUR_COMPANY_DELIVERABLE?  \n> Where should we go from here?\n\nSign off:\nBest,  YOUR_FIRST_NAME  YOUR_COMPANY_NAME\n\n**ALWAYS use the YOUR_COMPANY_NAME knowledge base (Google Doc) for accurate AI use cases and language.**"
        },
        "promptType": "define"
      },
      "typeVersion": 1.7
    },
    {
      "id": "e72e8f7e-957f-45ff-b7a9-629439aa49f8",
      "name": "OpenAI Chat Model13",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        4840,
        2380
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "xxxxx"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "f2dfaf86-a1e3-4c6a-8247-7459a50bef4d",
      "name": "Knowledge Base3",
      "type": "n8n-nodes-base.googleDocsTool",
      "position": [
        5020,
        2380
      ],
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/edit?tab=t.0"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "xxxxx"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "a08714fd-08a0-4869-b167-1652a78e14ad",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5740,
        1820
      ],
      "parameters": {
        "width": 360,
        "height": 780,
        "content": "##  Add to CRM\n\n❗ **Must be updated**\n- GHL or other CRM integration required"
      },
      "typeVersion": 1
    },
    {
      "id": "6ab41b26-9de9-4f0e-b2eb-4e43f8538166",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3780,
        1820
      ],
      "parameters": {
        "width": 920,
        "height": 780,
        "content": "## Regular email (gmail) or domain email exctraction."
      },
      "typeVersion": 1
    },
    {
      "id": "9bc997e9-9c07-48e1-bac6-599fac747492",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4140,
        1820
      ],
      "parameters": {
        "width": 340,
        "height": 780,
        "content": "## Enrich Lead\n\n❗ **Must be updated**\n- Apify enrichment possible here"
      },
      "typeVersion": 1
    },
    {
      "id": "8bc11ef0-2a9a-4048-aeab-bbc8a06ac094",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2840,
        1820
      ],
      "parameters": {
        "color": 4,
        "width": 800,
        "height": 380,
        "content": "## Has A domain"
      },
      "typeVersion": 1
    },
    {
      "id": "aaaf05cc-07ff-4df4-a0f7-30ec744018b4",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2840,
        2220
      ],
      "parameters": {
        "color": 3,
        "width": 800,
        "height": 380,
        "content": "## No domain (company name enrich)"
      },
      "typeVersion": 1
    },
    {
      "id": "2a3adf9c-b99f-4c92-80ec-d4a8821618b1",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2020,
        1820
      ],
      "parameters": {
        "width": 1500,
        "height": 780,
        "content": "## Enrich socials and website (LinkedIn, Instagram, Website content)"
      },
      "typeVersion": 1
    },
    {
      "id": "ecf4912f-8b6e-433e-b859-39e9eec2dcef",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -500,
        1820
      ],
      "parameters": {
        "width": 1460,
        "height": 780,
        "content": "## Send 1st personalized email"
      },
      "typeVersion": 1
    },
    {
      "id": "da79cdad-4389-42a5-a5fa-9ef97230a758",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        980,
        1820
      ],
      "parameters": {
        "width": 1500,
        "height": 780,
        "content": "## Send 2nd personalized follow-up"
      },
      "typeVersion": 1
    },
    {
      "id": "50168631-597d-4b49-95ea-b4a5d4153498",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2500,
        1820
      ],
      "parameters": {
        "width": 1420,
        "height": 780,
        "content": "## Send 3rd personalized follow-up"
      },
      "typeVersion": 1
    },
    {
      "id": "a6456d83-40d0-4343-941d-71089847f93e",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3940,
        1820
      ],
      "parameters": {
        "width": 1440,
        "height": 780,
        "content": "## Send 4th productized follow-up"
      },
      "typeVersion": 1
    },
    {
      "id": "82de6f16-d729-4d03-a732-d42f7c446f9f",
      "name": "Extract Instagram",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -1420,
        2140
      ],
      "parameters": {
        "text": "=here is all the links: \n\n{{ $('Get social media urls').item.json.social_links }}",
        "messages": {
          "messageValues": [
            {
              "message": "=From all of these links only extract the url of the instagram profile. They will come in a random order each time, so we need to grab only the instagram url. "
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "3675dcdc-536d-4bae-8a20-c8f4598c41ad",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2800,
        2020
      ],
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apify~website-content-crawler/run-sync-get-dataset-items",
        "method": "POST",
        "options": {},
        "jsonBody": "{\n  \"startUrls\": [\n    {\n      \"url\": \"\"\n    }\n  ],\n  \"useSitemaps\": false,\n  \"respectRobotsTxtFile\": true,\n  \"crawlerType\": \"playwright:adaptive\",\n  \"includeUrlGlobs\": [],\n  \"excludeUrlGlobs\": [],\n  \"keepUrlFragments\": false,\n  \"ignoreCanonicalUrl\": false,\n  \"maxCrawlDepth\": 20,\n  \"maxCrawlPages\": 9999999,\n  \"initialConcurrency\": 0,\n  \"maxConcurrency\": 200,\n  \"initialCookies\": [],\n  \"proxyConfiguration\": {\n    \"useApifyProxy\": true\n  },\n  \"maxSessionRotations\": 10,\n  \"maxRequestRetries\": 5,\n  \"requestTimeoutSecs\": 60,\n  \"minFileDownloadSpeedKBps\": 128,\n  \"dynamicContentWaitSecs\": 10,\n  \"waitForSelector\": \"\",\n  \"softWaitForSelector\": \"\",\n  \"maxScrollHeightPixels\": 5000,\n  \"keepElementsCssSelector\": \"\",\n  \"removeElementsCssSelector\": \"nav, footer, script, style, noscript, svg, img[src^=data:],\\n[role=\\\"alert\\\"],\\n[role=\\\"banner\\\"],\\n[role=\\\"dialog\\\"],\\n[role=\\\"alertdialog\\\"],\\n[role=\\\"region\\\"][aria-label*=\\\"skip\\\" i],\\n[aria-modal=\\\"true\\\"]\",\n  \"removeCookieWarnings\": true,\n  \"expandIframes\": true,\n  \"clickElementsCssSelector\": \"[aria-expanded=\\\"false\\\"]\",\n  \"htmlTransformer\": \"readableText\",\n  \"readableTextCharThreshold\": 100,\n  \"aggressivePrune\": false,\n  \"debugMode\": false,\n  \"debugLog\": false,\n  \"saveHtml\": false,\n  \"saveHtmlAsFile\": false,\n  \"saveMarkdown\": true,\n  \"saveFiles\": false,\n  \"saveScreenshots\": false,\n  \"maxResults\": 9999999,\n  \"clientSideMinChangePercentage\": 15,\n  \"renderingTypeDetectionPercentage\": 10\n}",
        "sendBody": true,
        "sendQuery": true,
        "specifyBody": "json",
        "queryParameters": {
          "parameters": [
            {
              "name": "token"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "4dc4fe64-2bd0-420e-a564-306d2a6d1312",
      "name": "Basic LLM Chain6",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -2500,
        1960
      ],
      "parameters": {
        "text": "=Here is some text from a company’s website:\n\n{{ $json.markdown }}\n\nWrite a full enriched paragraph describing the business and how YOUR_COMPANY_SERVICES_SHORTHAND could help them.\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a persuasive YOUR_COMPANY_SERVICES_TYPE strategist and copywriter. Your job is to take unstructured website text about a business and generate a clear, professional, and insightful paragraph that explains:\n\n1. What the company does and who they help\n2. Any notable collaborations, case studies, or companies they’ve worked with (if found in the text)\n3. The value they deliver to their audience\n4. How YOUR_COMPANY_SERVICES could YOUR_COMPANY_DELIVERABLES_BENEFITS\n\nYour writing should sound smart, articulate, and forward-thinking — like a founder summarizing the business to an investor or partner.\n\n- Focus on **enriching** the raw info, not just summarizing it\n- Highlight opportunities for **YOUR_COMPANY_SERVICES** that are natural fits for their YOUR_COMPANY_SERVICES_TARGET_PROBLEM\n- The final output should be a **single rich paragraph** (200–300 words max)\n\nIf no partnerships or case studies are mentioned, simply skip that part. Never hallucinate.\n\nDo not format as a list. Return a single professional paragraph.\n"
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "ccf55a38-0064-43ca-9a1f-09418f1b2e49",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -2500,
        2100
      ],
      "parameters": {
        "options": {},
        "modelName": "models/gemini-2.0-flash"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "xxxxx"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "00f62244-e867-4398-a9c4-32f598a2e59c",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        -6060,
        3100
      ],
      "parameters": {
        "filters": {
          "q": "NOT from:x@x.com",
          "labelIds": [
            "Label_6404049094877547716"
          ]
        },
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "x@x.com"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "1f0d1b26-357f-4e8c-8fef-5eef38bcd2e0",
      "name": "Google Calendar2",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        -5580,
        3100
      ],
      "parameters": {
        "limit": 10,
        "options": {
          "query": "={{ $('Gmail Trigger').item.json.From }}"
        },
        "timeMax": "={{ $now.plus({ week: 3 }) }}",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "x@x.com",
          "cachedResultName": "x@x.com"
        },
        "operation": "getAll"
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "xxxxx"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "219b6193-27de-406c-9064-390d820007c4",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        -5740,
        3100
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "xxxxxxxxxxxxxxxxx",
          "cachedResultUrl": "https://airtable.com/xxxxxxxxxxxxxxxxx",
          "cachedResultName": "S2L"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblF6xxxxxxxxxxxxxxxxxKBJba9WFW4if",
          "cachedResultUrl": "https://airtable.com/xxxxxxxxxxxxxxxxx/tblF6KBJba9WFW4if",
          "cachedResultName": "Table 1"
        },
        "options": {},
        "operation": "search",
        "filterByFormula": "={email} = \"x@x.com\""
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "xxxxx"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "9943a4e4-623d-4811-b2d6-a67f446a0961",
      "name": "Airtable1",
      "type": "n8n-nodes-base.airtable",
      "position": [
        -4660,
        3100
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "xxxxxxxxxxxxxxxxx",
          "cachedResultUrl": "https://airtable.com/xxxxxxxxxxxxxxxxx",
          "cachedResultName": "S2L"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "xxxxxxxxxxxxxxxxx",
          "cachedResultUrl": "https://airtable.com/xxxxxxxxxxxxxxxxx/xxxxxxxxxxxxxxxxx",
          "cachedResultName": "xxxxx"
        },
        "columns": {
          "value": {
            "id": "={{ $('Airtable').item.json.id }}",
            "Complete": true
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Description",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Lead Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Chain",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Email Chain",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "email 1",
                  "value": "email 1"
                },
                {
                  "name": "email 2",
                  "value": "email 2"
                },
                {
                  "name": "email 3",
                  "value": "email 3"
                },
                {
                  "name": "email 4",
                  "value": "email 4"
                },
                {
                  "name": "email answered",
                  "value": "email answered"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Complete",
              "type": "boolean",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Complete",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Thread ID",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Thread ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update"
      },
      "typeVersion": 2.1
    },
    {
      "id": "7315c75e-f2e7-4d01-8965-1eb24ed96d36",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        -4040,
        3120
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "pricing",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "3f40cf0c-1fc5-472f-a4f0-7cb8a88bbaf9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Master AI Agent').item.json.output }}",
                    "rightValue": "pricing"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "question",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8de69350-7032-4918-bbbf-e13a9de16df7",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Master AI Agent').item.json.output }}",
                    "rightValue": "question"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "use case",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "a08d1c08-6f2d-46b2-85e1-073cee4acabe",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Master AI Agent').item.json.output }}",
                    "rightValue": "use case"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "onboarding",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "557ab867-b784-43bd-9e2b-533d363cbccf",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Master AI Agent').item.json.output }}",
                    "rightValue": "onboarding"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "meeting",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "35eb5a56-9941-4e6c-8794-be146f5c8fe2",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Master AI Agent').item.json.output }}",
                    "rightValue": "meeting"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "misc",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "3533e68d-a65b-4cc2-9813-6f8c74b3a4f2",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Master AI Agent').item.json.output }}",
                    "rightValue": "Miscellaneous"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "no answer",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "82bb5434-d2c6-440e-8c10-4b0832a4b012",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Master AI Agent').item.json.output }}",
                    "rightValue": "no answer"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "b31fa074-54f8-41f2-ad20-626f9a2f3849",
      "name": "Gmail3",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -3380,
        3240
      ],
      "webhookId": "c5febe8e-a1f1-4c2a-b9d2-069f84e2a340",
      "parameters": {
        "message": "hi",
        "options": {},
        "resource": "thread",
        "threadId": "={{ $('Gmail11').item.json.threadId }}",
        "messageId": "={{ $('Gmail11').item.json.id }}",
        "operation": "reply"
      },
      "typeVersion": 2.1
    },
    {
      "id": "16d9f215-d4a5-4992-9449-80b2c28dd6db",
      "name": "Gmail4",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -3380,
        3380
      ],
      "webhookId": "c5febe8e-a1f1-4c2a-b9d2-069f84e2a340",
      "parameters": {
        "message": "={{ $json.text }}",
        "options": {},
        "resource": "thread",
        "threadId": "={{ $('Gmail11').item.json.threadId }}",
        "messageId": "={{ $('Gmail11').item.json.id }}",
        "operation": "reply"
      },
      "typeVersion": 2.1
    },
    {
      "id": "c530328c-42e7-42d6-b23f-7ea0595f4a2c",
      "name": "Gmail6",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -3380,
        3520
      ],
      "webhookId": "c5febe8e-a1f1-4c2a-b9d2-069f84e2a340",
      "parameters": {
        "message": "hi",
        "options": {},
        "resource": "thread",
        "threadId": "={{ $('Gmail11').item.json.threadId }}",
        "messageId": "={{ $('Gmail11').item.json.id }}",
        "operation": "reply"
      },
      "typeVersion": 2.1
    },
    {
      "id": "0123cc12-134e-4063-bd16-ab23b3ed9acd",
      "name": "Master AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -4660,
        3420
      ],
      "parameters": {
        "text": "=Thread history:\n{{ $('Airtable').item.json['Email Chain'] }}\n\nMost recent email: {{ $('Gmail11').item.json.text }}\n\nUse the full email thread above — including the latest message and all past context — to determine the correct AI agent route for this inquiry.\n\nCompany context: YOUR_COMPANY_NAME is an YOUR_COMPANY_TYPE that YOUR_COMPANY_SERVICE. Solutions YOUR_COMPANY_SERVICES — all tailored to YOUR_TARGET_NICHE.\n\nThe following services are available:\n\n1. **Pricing** – Use if the message asks about pricing, packages, quotes, or “how much”\n2. **FAQ** – Use if they’re asking what we do, how it works, which tools we use, or general capabilities\n3. **Use Case** – Use if the person is describing a problem or goal related to YOUR_COMPANY_SERVICE_TYPE (e.g. “”)\n4. **Onboarding** – Use if they’ve booked or are ready to begin, and they’re asking about the next steps, onboarding, or process\n5. **Meeting** – Use if the person is offering a date/time or requesting a call\n6. **Misc** – Use if it’s a real inquiry that doesn’t clearly match the others\n7. **No Answer** – Use if their message is vague, unactionable, irrelevant, or something like “cool”, “ok”, “thanks”",
        "options": {
          "systemMessage": "=You are the master routing agent at YOUR_COMPANY_NAME — an YOUR_COMPANY_TYPE that helps businesses YOUR_COMPANY_SERVICES_BENEFITS.\n\nYour job is to read the **full email thread** from Airtable, analyze the message context, and decide whether to:\n1. Route the inquiry to one of six specialized AI response agents\n2. Mark it as \"no reply needed\" if the message is meaningless or doesn't warrant a response\n\nYou must ALWAYS:\n- Read the full conversation thread stored in the “Email Thread” field\n- Reference YOUR_COMPANY_NAME Knowledge Base document for context on tools, services, and terminology\n- Choose the most appropriate route (from 7 below)\n- Never respond directly — your job is to route only\n\nROUTE OPTIONS:\n1. **Pricing** — If the lead is asking about cost, packages, tiers, or \"how much does this cost\"\n2. **FAQ** — If they ask generic questions like “what do you guys do?”, “can this connect with X?”, “what tools do you use?”, or “how does it work?”\n3. **Use Case** — If the user explains a problem they want to solve in relation to my core services (e.g. '')\n4. **Onboarding** — If the user already booked or expressed interest and is asking about next steps, project scope, or timelines\n5. **Meeting** — If the user is suggesting a time for a call or asks to “book a meeting,” send to this agent (it will handle scheduling via Google Calendar)\n6. **Misc** — If the message is complex or doesn’t fit cleanly into the others but still deserves a response. This agent will read the thread and craft a thoughtful reply using the knowledge base\n7. **No Answer** — If the reply is vague (e.g. “ok”, “got it”, “cool”), off-topic, or not actionable — mark it as ‘no reply needed’\n\nYour only job is to assign ONE of these agents by returning its name under the key `route`.\n\nRespond only with the route name **in lower case only**\n\nExample: use case\n\nSecond example: Pricing"
        },
        "promptType": "define"
      },
      "typeVersion": 1.9
    },
    {
      "id": "4eb36858-5dda-43de-99d4-f83184e565af",
      "name": "Pricing",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -3720,
        3100
      ],
      "parameters": {
        "text": "=Prospect Inquiry: {{ $('Gmail11').item.json.text }}\n\nAll context needed from YOUR_COMPANY_NAME knowledge base: {{ $('Google Docs').item.json.content }}\n\nBased on the above inquiry, provide detailed information about YOUR_COMPANY_NAME's pricing models that best address the prospect's questions or concerns. Ensure the response is tailored, informative, and encourages further engagement.\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are the Pricing Agent at YOUR_COMPANY_NAME — a YOUR_COMPANY_TYPE that offers YOUR_COMPANY_SERVICES for YOUR_TARGET_MARKET.\n\nYour role is to provide clear, concise, and friendly information about our pricing models based on the prospect's inquiries. Reference YOUR_COMPANY_NAME's official pricing structures and offerings.\nYOUR_COMPANY_NAME offers three primary pricing models:\n\n1. \n\n2.\n\n3. \n\nWhen responding:\n- Match the tone of the prospect's inquiry.\n- Provide relevant pricing information based on their expressed needs.\n- If the inquiry is about custom solutions, explain the necessity of an initial audit before providing a quote.\n- For ongoing collaboration interests, detail the offer tiers.\n- Encourage further engagement or questions to facilitate the decision-making process.\n\nAlways ensure the information is accurate, up-to-date, and aligns with YOUR_COMPANY_NAME's offerings."
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "c2e6fed9-2fe4-4b86-854c-810bb8b40a7a",
      "name": "Question",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -3720,
        3240
      ],
      "parameters": {
        "text": "=Here’s the most recent message from the prospect:\n\n{{ $('Gmail11').item.json.text }}\n\nAll context needed from YOUR_COMPANY_NAME knowledge base: {{ $('Google Docs').item.json.content }}\n\nThey’re asking a general question about what we do, what tools we use, or how this works.\n\nWrite a clear, helpful answer that gives a high-level explanation of YOUR_COMPANY_NAME’s services, tools, and real-world examples. Keep it casual and confident — like a helpful founder chatting, not a salesperson.\n\nEnd with a chill, open-ended question to keep the conversation going.\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are the FAQ Agent at YOUR_COMPANY_NAME — a sharp, friendly YOUR_COMPANY_TYPE that YOUR_COMPANY_SERVICES using YOUR_SERVICES_TOOLS_AND_METHODOLOGIES and more.\n\nYou’re replying to someone who asked a general question like:  \n- “What do you guys do?”  \n- “How does this work?”  \n- “What tools do you use?”  \n- “Can this integrate with X?”  \n- “What does your system actually look like?”\n\nYour job is to give a clear, helpful, and casual answer that explains what YOUR_COMPANY_NAME does — without sounding generic or robotic. Use examples from real work in the YOUR_COMPANY_NAME knowledge base and libraries (x.notion.site) if it helps make things more concrete.\n\nWhat we do:\n- YOUR_COMPANY_SERVICES for YOUR_TARGET_MARKET \n- Use tools like TOOLS_HERE etc.\n- Focus areas: YOUR_COMPANY_SERVICES\n- We always scope things with the client before building — every solution is tailored\n\nTone: smart, founder-style. Don’t overexplain. No fluff. Be straight-up and conversational.  \nEnd with a casual, open-ended question like “Does that sound like something you're exploring?” or “Curious what you're trying to automate right now?”"
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "1491ca66-fc7c-461b-801f-81fa7ac887d4",
      "name": "Use Case",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -3720,
        3380
      ],
      "parameters": {
        "text": "=Here’s the latest message from the prospect:\n\n{{ $('Gmail11').item.json.text }}\n\nAll context needed from YOUR_COMPANY_NAME knowledge base: {{ $('Google Docs').item.json.content }}\n\nThey’re describing a problem or idea they’re trying to solve YOUR_SERVICE_PROBLEM_AREA.\n\nWrite a short, helpful reply that explains how YOUR_COMPANY_NAME would solve that use case. Reference real tools or automations from the YOUR_COMPANY_NAME library that match what they’re asking about.\n\nKeep the tone casual, like you’re chatting as a founder who’s solved this before. End with an open-ended question to continue the convo.\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are the Use Case Agent at YOUR_COMPANY_NAME — a sharp, chill YOUR_COMPANY_TYPE that YOUR_COMPANY_SERVICE_DELIVERABLES for YOUR_TARGET_MARKET across YOUR_COMPANY_SERVICE_TARGET_PROBLEM.\n\nYou’re replying to someone who explained a specific challenge, goal, or workflow they’re trying to improve — usually related to YOUR_COMPANY_SERVICES.\n\nYour job is to:\n- Show you understand what they’re trying to do\n- Explain how YOUR_COMPANY_NAME would approach solving that problem\n- Reference real automation types or templates from YOUR_COMPANY_NAME’s library that are relevant (x.notion.site)\n- Make it sound effortless, like “yeah, we’ve built something like that before — here’s how it could work for you”\n\nYOUR_COMPANY_NAME builds systems like:\n- Lead gen email + LinkedIn outreach agents\n- Speed-to-lead AI responders for SMS/email\n- AI proposal generators post-meeting\n- Social content engines\n- Lead scoring + CRM sync\n- Support AI agents\n- Internal tools for data cleanup, tracking, etc.\n\nKeep it natural, don’t pitch too hard — you’re just sharing a real solution that fits their use case.  \nEnd with a chill question like “Want me to walk you through what that setup could look like?” or “Should I map out how we’d build that?”"
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "46d3b299-b5cc-475a-84e7-a83dc29b5feb",
      "name": "Onboarding",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -3720,
        3520
      ],
      "parameters": {
        "text": "=Here’s the most recent message from the prospect:\n\n{{ $('Gmail11').item.json.text }}\n\nAll context needed from YOUR_COMPANY_NAME knowledge base: {{ $('Google Docs').item.json.content }}\n\nThey seem ready to move forward and are asking about next steps or how onboarding works.\n\nWrite a short, clear reply that explains YOUR_COMPANY_NAME’s onboarding process — from kickoff to handoff. Mention the strategy call or audit if relevant. Keep the tone casual and helpful, like a founder guiding them through it.\n\nEnd with a soft call to action, like offering to book the kickoff call.",
        "messages": {
          "messageValues": [
            {
              "message": "=You are the Onboarding Agent at YOUR_COMPANY_NAME — a founder-led YOUR_COMPANY_TYPE company that YOUR_COMPANY_SERVICES for YOUR_TARGET_MARKET.\n\nYou’re responding to someone who is either:\n- Ready to get started\n- Asking about next steps\n- Wondering how onboarding or project setup works\n- Asking “what do you need from me?” or “how do we begin?”\n\nYour job is to explain the onboarding process clearly, quickly, and in a helpful tone.\n\nYOUR_COMPANY_NAME’s onboarding flow usually looks like:\n1. **Kickoff call** — \n2. **Audit + plan** — \n3. **Build phase** — \n4. **Handoff** — \n\nIf they’re doing the **retainer model**, you can mention they get a monthly strategy call and priority support. If it’s a **custom build**, mention the audit step is key before building.\n\nKeep it simple. No fluff. Just explain how we work and make it feel easy to start.  \nEnd with something like:  \n“Want to kick things off with a quick call?” or  \n“Ready to get started?”"
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "8b088d70-423a-4976-9163-d3bd540645ea",
      "name": "Meeting",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -3720,
        3660
      ],
      "parameters": {
        "text": "=Here’s the latest message in the email thread:\n\n{{ $('Gmail11').item.json.text }}\n\nYour task: Decide if the user is requesting availability or confirming a time.\n\nOutput only one word: `true` or `false`.\n\n\nCurrent date and time for refrence: {{ $now }}\n\nWe only book between 11am and 5pm EDT monday to friday. please do not accept a time outside that range. offer a new time if it is and work with the user to find a workable time within the slots",
        "messages": {
          "messageValues": [
            {
              "message": "=You are the Meeting AI Agent for YOUR_COMPANY_NAME, a YOUR_COMPANY_TYPE.\n\nYour job is to decide whether the user is trying to:\n- View available times (true)\n- Confirm a specific time for booking (false)\n\nYou will always return a boolean — either `true` or `false` — and nothing else.\n\nInterpret the user's latest message based on the conversation context below.\n\nReturn:\n- `true` → if the user is asking for availability, such as: “what times work?”, “are you free Tuesday?”, “can you do next week?”, “let me know your calendar”\n- `false` → if the user confirms a specific time or suggests a concrete time, like: “yes, 2pm Tuesday works”, “how about tomorrow at noon?”, “I’m good for 3pm PST”\n\nBe strict: only return `false` if they clearly confirmed or proposed a real time.\nDo not explain your reasoning. Only return the value."
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "04c918ea-cd79-4423-a83f-048265c3e4e5",
      "name": "Misc",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -3720,
        3800
      ],
      "parameters": {
        "text": "=Here’s the latest message from the prospect:\n\n{{ $('Gmail11').item.json.text }}\n\nAll context needed from YOUR_COMPANY_NAME knowledge base: {{ $('Google Docs').item.json.content }}\n\n\nThe message doesn’t clearly ask about pricing, tech, onboarding, or booking — but it’s not spam or a “no response” either.\n\nWrite a short, helpful response based on what they said. Use the YOUR_COMPANY_NAME knowledge base or automation examples if it helps clarify. Keep it human, clear, and move the conversation forward.\n\nEnd with a friendly, open-ended question that encourages them to reply.\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are the Miscellaneous Agent at YOUR_COMPANY_NAME — a YOUR_COMPANY_TYPE that YOUR_COMPANY_SERVICES.\n\nYou’re handling an inbound message that doesn’t clearly fall into the pricing, FAQ, use case, onboarding, or meeting categories — but it still needs a human, thoughtful reply.\n\nYour job is to:\n- Read the entire message and thread\n- Understand what they’re trying to communicate\n- Reply with a helpful response that either clarifies, answers, or moves the conversation forward\n\nExamples of what this might cover:\n- Someone asking for a deck, doc, or demo\n- A request that’s partially vague but promising\n- Someone referencing a past convo without much detail\n- A casual “what’s your availability?” that isn’t quite a booking request yet\n- Any other message that’s meaningful but unclear\n\nUse the YOUR_COMPANY_NAME knowledge base to add value when possible — for example, mention relevant tools or workflows, offer to hop on a call, or share a public link (e.g. x.com or x.notion.site) if it helps.\n\nYour tone should still feel like a helpful founder. Be calm, confident, and make it easy for them to respond.\n\nDon’t overthink it — your job is just to move the convo forward naturally.\n"
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "b16ad3e6-5aa3-4844-8fa8-c47b27fbd436",
      "name": "Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        -4300,
        3420
      ],
      "parameters": {
        "operation": "get",
        "documentURL": "=https://docs.google.com/document/d/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/edit"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "xxxxx"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "6e5237ac-c713-4089-8afd-64a825ff7644",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        -3180,
        3600
      ],
      "parameters": {
        "options": {},
        "timeMax": "={{ $now.plus(3, 'day') }}",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "x@x.com",
          "cachedResultName": "x@x.com"
        },
        "resource": "calendar"
      },
      "typeVersion": 1.3
    },
    {
      "id": "bcd9fdb6-764a-4203-b292-a6a516dd7186",
      "name": "Google Calendar1",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        -3180,
        3740
      ],
      "parameters": {
        "end": "={{ $now.plus(15, 'min') }}",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "x@x.com",
          "cachedResultName": "x@x.com"
        },
        "additionalFields": {}
      },
      "typeVersion": 1.3
    },
    {
      "id": "58ebe9a1-cd94-44d8-b17e-2813a665030c",
      "name": "Basic LLM Chain7",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -5260,
        3140
      ],
      "parameters": {
        "text": "=Details:\n\nName: {{ $json.summary }}\nAttendees: {{ $json.attendees.map((a, i) => `call ${i+1}: ${JSON.stringify(a, null, 2)}`).join(\"\\n\") }}\nStart: {{ ($json.start || []).map((s, i) => `Time ${i+1}: ${s.dateTime || s.date}`).join(\" | \") }}\nEnd: {{ ($json.end || []).map((e, i) => `Time ${i+1}: ${e.dateTime || e.date}`).join(\" | \") }}\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You will decipher whether or not there are any meetings with a lead. \n\nYou will be passed a bunch of information about the meeting such as name, attendees, start date, and end date. \n\nIf there is a meeting and you see values for these please output true and if theres nothing then please output false\n\n**ONLY OUTPUT true OR false**"
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "3a77bf51-da8e-4c3c-a1fa-71cf542c5f50",
      "name": "If6",
      "type": "n8n-nodes-base.if",
      "position": [
        -4880,
        3100
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cf6d897a-3a30-4d37-8ba5-3900ef01b87c",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.text }}",
              "rightValue": "true"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "25d22cfa-89b3-4e91-827d-e11143999e64",
      "name": "Gmail9",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -4500,
        3100
      ],
      "webhookId": "80448636-dee0-469a-9986-b644519d4d48",
      "parameters": {
        "labelIds": [
          "Label_6404049094877547716"
        ],
        "resource": "thread",
        "threadId": "={{ $('Gmail11').item.json.threadId }}",
        "operation": "removeLabels"
      },
      "typeVersion": 2.1
    },
    {
      "id": "a1412df4-e6ce-4eb2-889d-198dddf7843e",
      "name": "Gmail10",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -3380,
        3100
      ],
      "webhookId": "c5febe8e-a1f1-4c2a-b9d2-069f84e2a340",
      "parameters": {
        "message": "hiu",
        "options": {},
        "resource": "thread",
        "threadId": "={{ $('Gmail11').item.json.threadId }}",
        "messageId": "={{ $('Gmail11').item.json.id }}",
        "operation": "reply"
      },
      "typeVersion": 2.1
    },
    {
      "id": "2aa445e4-56ab-4e2e-b646-ed6058b7ba26",
      "name": "Gmail11",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -5900,
        3100
      ],
      "webhookId": "40a2b4b1-9362-4245-9a5c-86f61e0b87da",
      "parameters": {
        "simple": false,
        "options": {},
        "messageId": "={{ $json.id }}",
        "operation": "get"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "x@x.com"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "c3107d60-b14d-45e5-974b-0e3b1bcc7568",
      "name": "Aggregate9",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -5420,
        3100
      ],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "summary"
            },
            {
              "fieldToAggregate": "attendees"
            },
            {
              "fieldToAggregate": "start"
            },
            {
              "fieldToAggregate": "end"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "7ed6b6da-11ed-40fd-b86e-5defb7dda836",
      "name": "OpenAI Chat Model14",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -5260,
        3300
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "xxxxx"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "85614553-339f-48db-9c4c-cf65ae83cf8a",
      "name": "OpenAI Chat Model15",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -4660,
        3580
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "546d92e1-742b-4c4a-9e2a-3d7198762a46",
      "name": "Gmail12",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -3380,
        3800
      ],
      "webhookId": "c5febe8e-a1f1-4c2a-b9d2-069f84e2a340",
      "parameters": {
        "message": "hi",
        "options": {},
        "resource": "thread",
        "threadId": "={{ $('Gmail11').item.json.threadId }}",
        "messageId": "={{ $('Gmail11').item.json.id }}",
        "operation": "reply"
      },
      "typeVersion": 2.1
    },
    {
      "id": "346ea591-99ef-488e-a6c7-4271ee320656",
      "name": "Gmail13",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -3040,
        3600
      ],
      "webhookId": "c5febe8e-a1f1-4c2a-b9d2-069f84e2a340",
      "parameters": {
        "message": "hi",
        "options": {},
        "resource": "thread",
        "threadId": "={{ $('Gmail11').item.json.threadId }}",
        "messageId": "={{ $('Gmail11').item.json.id }}",
        "operation": "reply"
      },
      "typeVersion": 2.1
    },
    {
      "id": "0a150818-8c9b-48ed-bcea-ac0d6494213e",
      "name": "No Operation, do nothing3",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -3720,
        3960
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "78139828-7ff1-4a5d-bad9-41acd5072698",
      "name": "OpenAI Chat Model16",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -4020,
        4360
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "4c0d4028-abea-4d4f-8d2e-0a91d981d35b",
      "name": "If7",
      "type": "n8n-nodes-base.if",
      "position": [
        -3380,
        3660
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "bf67844a-84dc-4a24-9eab-6d71be87bf5d",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "86992d20-2415-4c5b-aac0-8ad9df89fe2d",
      "name": "Gmail14",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -3040,
        3740
      ],
      "webhookId": "07e52a58-f75e-4ad1-81a8-b9813fbbed86",
      "parameters": {
        "message": "hi",
        "options": {},
        "resource": "thread",
        "threadId": "={{ $('Gmail11').item.json.threadId }}",
        "messageId": "={{ $('Gmail11').item.json.id }}",
        "operation": "reply"
      },
      "typeVersion": 2.1
    },
    {
      "id": "3ee38dad-fe91-4f13-9ec7-4463109dd263",
      "name": "HighLevel1",
      "type": "n8n-nodes-base.highLevel",
      "position": [
        -5620,
        2040
      ],
      "parameters": {
        "email": "={{ $json.body.email }}",
        "phone": "=",
        "requestOptions": {},
        "additionalFields": {
          "name": "={{ $json.body.name }}",
          "tags": "new lead",
          "notes": "=Company: {{ $json.body.company }}  \nAutomation Needs:{{ $json.body.message }}",
          "source": "Website Form"
        }
      },
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "xxxxx"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "4a15a024-8ac2-4217-84a5-4a588e29f36b",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6120,
        1820
      ],
      "parameters": {
        "width": 360,
        "height": 780,
        "content": "## Trigger workflow when...\n\n\n### Website Form submitted\n❗ **Must be updated**\n- Lead form integration required\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n#### Other possible triggers\n1. Calendar Event Created\n2. Social Media Form Submitted\n3. Lead Magnet Form Submitted\n4. Paid Ad Lead Form Submitted"
      },
      "typeVersion": 1
    },
    {
      "id": "acac9c55-135b-461d-b05c-8608f6cffe25",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5400,
        1600
      ],
      "parameters": {
        "color": 3,
        "height": 1000,
        "content": "# Phase 3: Human Notification & Intervention"
      },
      "typeVersion": 1
    },
    {
      "id": "67fba72b-a436-4be2-99ef-dff7a6984d74",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6120,
        1620
      ],
      "parameters": {
        "color": 7,
        "width": 5600,
        "height": 180,
        "content": "# Phase 1: **Create Contact**, 🧩 **Email Verification & Enrichment**, 🧠 **Domain & Social Discovery**"
      },
      "typeVersion": 1
    },
    {
      "id": "3f20fd31-e0c1-4c22-a367-5e32b61ad30c",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -500,
        1620
      ],
      "parameters": {
        "color": 7,
        "width": 5880,
        "height": 180,
        "content": "# Phase 2: 📤 **Email Delivery & Follow-Up**"
      },
      "typeVersion": 1
    },
    {
      "id": "0057a946-d411-46c4-a64b-af7168c916b5",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6100,
        2740
      ],
      "parameters": {
        "color": 7,
        "width": 3240,
        "height": 180,
        "content": "# Phase 4: 🗯️ Handle Responses "
      },
      "typeVersion": 1
    },
    {
      "id": "6b4ed998-a2f7-44ec-aea9-940e9271ae2c",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "disabled": true,
      "position": [
        -6000,
        2400
      ],
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apify~website-content-crawler/run-sync-get-dataset-items",
        "method": "POST",
        "options": {},
        "jsonBody": "{\n  \"startUrls\": [\n    {\n      \"url\": \"https://x.notion.so/\"\n    }\n  ],\n  \"useSitemaps\": false,\n  \"respectRobotsTxtFile\": true,\n  \"crawlerType\": \"playwright:adaptive\",\n  \"includeUrlGlobs\": [],\n  \"excludeUrlGlobs\": [],\n  \"keepUrlFragments\": false,\n  \"ignoreCanonicalUrl\": false,\n  \"maxCrawlDepth\": 13,\n  \"maxCrawlPages\": 13,\n  \"initialConcurrency\": 0,\n  \"maxConcurrency\": 200,\n  \"initialCookies\": [],\n  \"proxyConfiguration\": {\n    \"useApifyProxy\": true\n  },\n  \"maxSessionRotations\": 10,\n  \"maxRequestRetries\": 5,\n  \"requestTimeoutSecs\": 180,\n  \"minFileDownloadSpeedKBps\": 128,\n  \"dynamicContentWaitSecs\": 10,\n  \"waitForSelector\": \"\",\n  \"softWaitForSelector\": \"\",\n  \"maxScrollHeightPixels\": 5000,\n  \"keepElementsCssSelector\": \"\",\n  \"removeElementsCssSelector\": \"nav, footer, script, style, noscript, svg, img[src^=data:],\\n[role=\\\"alert\\\"],\\n[role=\\\"banner\\\"],\\n[role=\\\"dialog\\\"],\\n[role=\\\"alertdialog\\\"],\\n[role=\\\"region\\\"][aria-label*=\\\"skip\\\" i],\\n[aria-modal=\\\"true\\\"]\",\n  \"removeCookieWarnings\": true,\n  \"expandIframes\": true,\n  \"clickElementsCssSelector\": \"[aria-expanded=\\\"false\\\"]\",\n  \"htmlTransformer\": \"readableText\",\n  \"readableTextCharThreshold\": 100,\n  \"aggressivePrune\": false,\n  \"debugMode\": false,\n  \"debugLog\": false,\n  \"saveHtml\": false,\n  \"saveHtmlAsFile\": false,\n  \"saveMarkdown\": true,\n  \"saveFiles\": false,\n  \"saveScreenshots\": false,\n  \"maxResults\": 14,\n  \"clientSideMinChangePercentage\": 15,\n  \"renderingTypeDetectionPercentage\": 10\n}",
        "sendBody": true,
        "sendQuery": true,
        "specifyBody": "json",
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "apify_api_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "7d21f50c-a405-4092-9fab-06a6c0ed17c6",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6100,
        2940
      ],
      "parameters": {
        "width": 1160,
        "height": 1560,
        "content": "## Search for past interactions "
      },
      "typeVersion": 1
    },
    {
      "id": "f51d9542-501d-416b-a2e3-be53febdba46",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4920,
        2940
      ],
      "parameters": {
        "width": 800,
        "height": 1560,
        "content": "## Route agents according to reply received"
      },
      "typeVersion": 1
    },
    {
      "id": "d0f3a295-8c3e-47f7-80f3-84100235fe88",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4100,
        2940
      ],
      "parameters": {
        "width": 1300,
        "height": 1560,
        "content": "## Agents generate replies"
      },
      "typeVersion": 1
    },
    {
      "id": "63c66c80-a284-4729-b366-5bcc77661dbc",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6840,
        1620
      ],
      "parameters": {
        "color": 6,
        "width": 680,
        "height": 2880,
        "content": "# ✅  Workflow Overview: AI SDR\n\n### This workflow:\n\t•\tCaptures inbound leads via a Webhook\n\t•\tEnriches each lead with:\n\t•\tValid email (or correction via Telegram)\n\t•\tWebsite, Instagram, LinkedIn data\n\t•\tPersonal LinkedIn profile + recent content\n\t•\tUses AI to:\n\t•\tWrite personalized cold emails\n\t•\tAnalyze leads across 4 stages of follow-up\n\t•\tSends messages via Gmail, spaced over 4 days if no reply\n\n\n### 📦 Key Input\n\t•\tWebhook captures: name, email, company, message\n\t•\tTriggered from your YOUR_COMPANY_NAME website form\n\n\n## 🔁  Process\n\n### 🧩 1. Email Verification & Enrichment\n\t•\tHunter verifies if the lead’s email is valid.\n\t•\tIf invalid:\n\t•\tTelegram requests a correction.\n\t•\tLLM Chain picks the right email between form and corrected input.\n\t•\tSet and Merge restore full lead info.\n\n\n### 🧠 2. Domain & Social Discovery\n\t•\tExtract company domain from email or fallback to form input.\n\t•\tApify used to pull:\n\t•\tWebsite content\n\t•\tSocial media profiles\n\t•\tLinkedIn company page\n\t•\tAI chains extract:\n\t•\tInstagram profile\n\t•\tCompany LinkedIn\n\t•\tPersonal LinkedIn match\n\t•\tPosts and captions (Insta/LinkedIn)\n\t•\tData merged into single context blob.\n\n\n### ✍️ 3. Personalized Outreach Sequence (4 Emails)\n\n**Stage\tNode(s)\tAI Agent\tTiming**\nEmail 1\tBasic LLM Chain1 + AI Agent\tGPT-4o-mini + Claude 3.7\tImmediately\nEmail 2\tWait 24h → Gmail Check → LLM Chain3 → AI Agent1\tGPT-4.1-mini\t+24 hours\nEmail 3\tWait1 48h → LLM Chain4 → AI Agent2\tGPT-4.1-mini\t+48 hours\nEmail 4\tWait3 48h → LLM Chain5 → AI Agent3\tGPT-4.1-mini\t+96 hours\n\nEach email:\n\t•\tPulls in live context from website + social + lead intent\n\t•\tUses Google Docs for YOUR_COMPANY_NAME product knowledge\n\t•\tCustom logic for tone, CTA, and brevity per stage\n\n\n### 📤 Email Delivery & Follow-Up\n\t•\tGmail nodes (Gmail, Gmail5, Gmail7, Gmail8) send each email\n\t•\tLLMs check inbox for replies before sending follow-up\n\t•\tEach email gets more concise and assertive, capped at 3–4 lines by final email\n\n\n### ✨ Notable AI Chains & Logic\n\t•\tLLM Chain1: Personalized opening compliment\n\t•\tLLM Chain2: Full lead context summary\n\t•\tAI Agent: First cold email\n\t•\tAI Agent1–3: Follow-up emails (shorter, sharper, staggered)\n\t•\tLLM Chain3–5: Email reply checking, decision logic\n\t•\tLLM Chain6: Website → enriched AI use case suggestion\n\n\n### 📌 Smart Features\n\t•\tConditional branching (If) for every decision point\n\t•\tLead enrichment logic handles:\n\t•\tFree email → domain extraction\n\t•\tName matching for LinkedIn\n\t•\tFollow-up flow ends automatically if lead replies"
      },
      "typeVersion": 1
    },
    {
      "id": "46c20db7-443f-4a13-b2b1-c9e2265a899c",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4540,
        2260
      ],
      "parameters": {
        "color": 3,
        "width": 220,
        "height": 240,
        "content": "### Can be swapped for Slack or other chat input"
      },
      "typeVersion": 1
    },
    {
      "id": "f652488f-5059-4318-8714-8fc937d9ae4d",
      "name": "HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "disabled": true,
      "position": [
        -5620,
        2260
      ],
      "parameters": {
        "resource": "company",
        "additionalFields": {}
      },
      "typeVersion": 2.1
    },
    {
      "id": "8532a2a3-45a7-4f80-b15b-d32bda9f4ac2",
      "name": "Salesforce",
      "type": "n8n-nodes-base.salesforce",
      "disabled": true,
      "position": [
        -5620,
        2400
      ],
      "parameters": {
        "additionalFields": {}
      },
      "typeVersion": 1
    },
    {
      "id": "52c5b9fd-9c7c-4dd4-b7e8-f458e075acbc",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5680,
        2180
      ],
      "parameters": {
        "color": 3,
        "height": 360,
        "content": "### Other CRM options\nMore possible"
      },
      "typeVersion": 1
    },
    {
      "id": "fe42c272-d4d7-4591-b86b-7a319cc8e0c0",
      "name": "Sticky Note22",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4840,
        2040
      ],
      "parameters": {
        "color": 3,
        "width": 150,
        "height": 300,
        "content": "### API Key Required\nhttps://hunter.io/api"
      },
      "typeVersion": 1
    },
    {
      "id": "8e6c3872-79b1-4729-9f29-845732ba8fcb",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4120,
        1960
      ],
      "parameters": {
        "color": 3,
        "width": 170,
        "height": 360,
        "content": "### Additional Enrichment Optional\n- https://www.commonroom.io/\n- https://www.gong.io/"
      },
      "typeVersion": 1
    },
    {
      "id": "f3166ea9-ee28-4bb4-a819-8bb85ce3434c",
      "name": "If Valid Email",
      "type": "n8n-nodes-base.if",
      "position": [
        -4680,
        2180
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "50e90471-bf0a-4c52-a91c-f33f06f98b28",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "valid"
            },
            {
              "id": "7ba82642-5c87-43db-83b3-0b19a5ba57e8",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "accept_all"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "413e269d-25b6-4480-9a22-6435098e45ce",
      "name": "Sticky Note24",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2820,
        1880
      ],
      "parameters": {
        "color": 3,
        "width": 150,
        "height": 300,
        "content": "### ❗ Update Required\n- Review & update JSON"
      },
      "typeVersion": 1
    },
    {
      "id": "ff7d2368-25a3-4bc9-a03e-2ca1aa5c51d0",
      "name": "Sticky Note25",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        580,
        1840
      ],
      "parameters": {
        "color": 3,
        "width": 280,
        "height": 320,
        "content": "## ❗ Must be updated\n- Copy in the emails need updating towards your company's services\n- Email label needs updating"
      },
      "typeVersion": 1
    },
    {
      "id": "21c0400d-69e1-4f8f-806c-fae139061a47",
      "name": "Sticky Note26",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        540,
        2220
      ],
      "parameters": {
        "color": 3,
        "width": 180,
        "height": 320,
        "content": "## ❗ Must be updated\n- Google doc"
      },
      "typeVersion": 1
    },
    {
      "id": "7f786fd3-2472-4c8c-a003-93f915610e39",
      "name": "Sticky Note27",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2140,
        2280
      ],
      "parameters": {
        "color": 3,
        "width": 200,
        "height": 260,
        "content": "## ❗ Must be updated\n- Google Doc"
      },
      "typeVersion": 1
    },
    {
      "id": "4d65e353-4025-4463-95fe-f7e6986f2d22",
      "name": "Sticky Note28",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2260,
        1940
      ],
      "parameters": {
        "color": 3,
        "width": 150,
        "height": 280,
        "content": "## ❗ Must be updated\n- Gmail credentials"
      },
      "typeVersion": 1
    },
    {
      "id": "f6cae09e-d2c4-4470-8160-870a67d41b91",
      "name": "Gmail5",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2280,
        2080
      ],
      "webhookId": "a2740067-298f-46a6-a684-9fb58e9cdccb",
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {},
        "resource": "thread",
        "threadId": "={{ $('If3').item.json.threadId }}",
        "messageId": "={{ $('If3').item.json.id }}",
        "operation": "reply"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "x@x.com"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "e390fe7d-8da5-4c5b-9021-71ca6018901f",
      "name": "Sticky Note29",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1160,
        1860
      ],
      "parameters": {
        "color": 3,
        "width": 150,
        "height": 280,
        "content": "## ❗ Must be updated\n- Gmail credentials"
      },
      "typeVersion": 1
    },
    {
      "id": "6394b419-1a80-479d-8c87-e29c70d18732",
      "name": "Sticky Note30",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -20,
        1860
      ],
      "parameters": {
        "color": 3,
        "width": 300,
        "height": 260,
        "content": "## ❗ Must be updated\n- Adapt the prompt to tailor responses to your company"
      },
      "typeVersion": 1
    },
    {
      "id": "c83b638d-5ee4-4768-9bfc-923644e5232c",
      "name": "Sticky Note31",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1460,
        1860
      ],
      "parameters": {
        "color": 3,
        "width": 300,
        "height": 260,
        "content": "## ❗ Must be updated\n- Adapt the prompt to tailor responses to your company"
      },
      "typeVersion": 1
    },
    {
      "id": "9db358a8-f882-48f3-9acf-4d58d76a48a3",
      "name": "Sticky Note32",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1940,
        1980
      ],
      "parameters": {
        "color": 3,
        "width": 300,
        "height": 240,
        "content": "## ❗ Must be updated\n- Adapt the prompt to tailor responses to your company"
      },
      "typeVersion": 1
    },
    {
      "id": "633f99cd-294f-47d7-9028-dd867bae30a5",
      "name": "Sticky Note33",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2860,
        1940
      ],
      "parameters": {
        "color": 3,
        "width": 300,
        "height": 260,
        "content": "## ❗ Must be updated\n- Adapt the prompt to tailor responses to your company"
      },
      "typeVersion": 1
    },
    {
      "id": "d735cda6-3a95-4459-b2e9-6054598edf27",
      "name": "Sticky Note34",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3400,
        2020
      ],
      "parameters": {
        "color": 3,
        "width": 300,
        "height": 260,
        "content": "## ❗ Must be updated\n- Adapt the prompt to tailor responses to your company"
      },
      "typeVersion": 1
    },
    {
      "id": "3b860976-52fd-4844-bb59-64a4f55e394d",
      "name": "Sticky Note35",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3720,
        2020
      ],
      "parameters": {
        "color": 3,
        "width": 150,
        "height": 260,
        "content": "## ❗ Must be updated\n- Gmail credentials"
      },
      "typeVersion": 1
    },
    {
      "id": "739577ea-29c2-4ae7-b284-4a604b96ce2b",
      "name": "Sticky Note36",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4300,
        2020
      ],
      "parameters": {
        "color": 3,
        "width": 300,
        "height": 260,
        "content": "## ❗ Must be updated\n- Adapt the prompt to tailor responses to your company"
      },
      "typeVersion": 1
    },
    {
      "id": "61380672-905b-40bb-8e72-1190240bf2ab",
      "name": "Sticky Note37",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5140,
        2100
      ],
      "parameters": {
        "color": 3,
        "width": 150,
        "height": 260,
        "content": "## ❗ Must be updated\n- Gmail credentials"
      },
      "typeVersion": 1
    },
    {
      "id": "eb9b413f-1de7-4912-8f8b-e193581f6198",
      "name": "Sticky Note38",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4820,
        2100
      ],
      "parameters": {
        "color": 3,
        "width": 300,
        "height": 260,
        "content": "## ❗ Must be updated\n- Adapt the prompt to tailor responses to your company"
      },
      "typeVersion": 1
    },
    {
      "id": "df7e8c83-027f-442d-a384-c2b64eee0338",
      "name": "Sticky Note39",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6080,
        3000
      ],
      "parameters": {
        "color": 3,
        "width": 630,
        "height": 280,
        "content": "## ❗ Must be updated\n- Gmail credentials & labels\n- CRM/Airtable Credentials"
      },
      "typeVersion": 1
    },
    {
      "id": "b1b7ca84-22e6-4823-bebf-b94f396c335a",
      "name": "Sticky Note40",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5280,
        3000
      ],
      "parameters": {
        "color": 3,
        "width": 300,
        "height": 280,
        "content": "## ❗ Must be updated\n- Copy needs updating towards your company's services"
      },
      "typeVersion": 1
    },
    {
      "id": "795bda2f-e331-4113-8df7-8e4c168ddec1",
      "name": "Sticky Note41",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4700,
        3000
      ],
      "parameters": {
        "color": 3,
        "width": 340,
        "height": 260,
        "content": "## ❗ Must be updated\n- Gmail & AirTable credentials"
      },
      "typeVersion": 1
    },
    {
      "id": "909ab714-eed8-4cf5-b1ec-776d19ea024e",
      "name": "Sticky Note42",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4700,
        3280
      ],
      "parameters": {
        "color": 3,
        "width": 340,
        "height": 280,
        "content": "## ❗ Must be updated\n- Instructions need updating towards your company's services"
      },
      "typeVersion": 1
    },
    {
      "id": "c073027e-e32f-4198-9342-3b469bcd5856",
      "name": "Sticky Note43",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4340,
        3280
      ],
      "parameters": {
        "color": 3,
        "width": 190,
        "height": 280,
        "content": "## ❗ Must be updated\n- Gmail credentials & doc"
      },
      "typeVersion": 1
    },
    {
      "id": "c148a87f-6cab-42fd-bfb1-81deb6bf9f4d",
      "name": "Sticky Note44",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3740,
        3000
      ],
      "parameters": {
        "color": 3,
        "width": 290,
        "height": 940,
        "content": "## ❗ Must be updated\n- Prompts towards your company's services"
      },
      "typeVersion": 1
    },
    {
      "id": "8c829367-c4a0-4f65-8eeb-3f25b8c4094d",
      "name": "Sticky Note45",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3400,
        3000
      ],
      "parameters": {
        "color": 3,
        "width": 470,
        "height": 1120,
        "content": "## ❗ Must be updated\n- Gmail credentials & copy towards your company's services"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "body": {
            "name": "YOUR_NAME",
            "email": "x@x.com",
            "source": "Website Contact Form",
            "company": "YOUR_COMPANY_NAME",
            "message": "xxxxx",
            "marketingOptIn": false
          },
          "query": {},
          "params": {},
          "headers": {
            "host": "n8n-promptible-io.onrender.com",
            "accept": "application/json, text/plain, */*",
            "cf-ray": "938ba555ff80cc3a-ORD",
            "rndr-id": "c9de6348-59b0-4530",
            "cdn-loop": "cloudflare; loops=1",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "user-agent": "axios/1.8.4",
            "cf-ipcountry": "US",
            "content-type": "application/json",
            "content-length": "163",
            "true-client-ip": "34.96.46.147",
            "accept-encoding": "gzip, br",
            "x-forwarded-for": "34.96.46.147, 10.206.40.96",
            "x-request-start": "1746064413160492",
            "cf-connecting-ip": "34.96.46.147",
            "render-proxy-ttl": "4",
            "x-forwarded-proto": "https"
          },
          "webhookUrl": "https://n8n-promptible-io.onrender.com/webhook/c7355c30-8531-40b4-b882-ba1ea7f9fafa",
          "executionMode": "production"
        }
      }
    ],
    "Gmail Trigger": [
      {
        "json": {
          "To": "x@x.com",
          "id": "196f55e4d85c2075",
          "Bcc": "x@x.com",
          "From": "x@x.com",
          "labels": [
            {
              "id": "SENT",
              "name": "SENT"
            },
            {
              "id": "Label_6404049094877547716",
              "name": "AI Agent"
            }
          ],
          "Subject": "Let's VERB YOUR_COMPANY_NAME",
          "payload": {
            "mimeType": "text/plain"
          },
          "snippet": "Hi YOUR_FIRST_NAME, I&#39;m seriously impressed by how you&#39;ve made AI implementation tangible for B2B teams - that 73% automation rate with Project shows you&#39;re delivering real results, not just AI",
          "threadId": "196f55e4d85c2075",
          "historyId": "344563",
          "internalDate": "1747873320000",
          "sizeEstimate": 1368
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2bb6ac55-f223-4155-b7df-0b86053b02d9",
  "connections": {
    "If1": {
      "main": [
        [
          {
            "node": "Extract domain or company",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get social media urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get social media urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Master AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Misc": {
      "main": [
        [
          {
            "node": "Gmail12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Aggregate7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Aggregate8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail2": {
      "main": [
        [
          {
            "node": "Aggregate6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail5": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail7": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter": {
      "main": [
        [
          {
            "node": "If Valid Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Pricing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Question",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use Case",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Onboarding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Meeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Misc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail11": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pricing": {
      "main": [
        [
          {
            "node": "Gmail10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HighLevel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Google Calendar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question": {
      "main": [
        [
          {
            "node": "Gmail3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Case": {
      "main": [
        [
          {
            "node": "Gmail4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Gmail5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Gmail7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Gmail8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Gmail9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Extract personal linkedin url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate6": {
      "main": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate7": {
      "main": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate8": {
      "main": [
        [
          {
            "node": "Basic LLM Chain5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate9": {
      "main": [
        [
          {
            "node": "Basic LLM Chain7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HighLevel1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding": {
      "main": [
        [
          {
            "node": "Gmail6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Enrich Lead": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Gmail11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid Email": {
      "main": [
        [
          {
            "node": "Enrich Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Gmail13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Master AI Agent": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain4": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain5": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Basic LLM Chain7": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "main": [
        [
          {
            "node": "Gmail14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar2": {
      "main": [
        [
          {
            "node": "Aggregate9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Instagram": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Extract domain or company",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Full Domain or just company",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Extract company linkedin url",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Extract personal linkedin url",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Instagram",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model11": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model12": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model13": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model14": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain7",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model15": {
      "ai_languageModel": [
        [
          {
            "node": "Master AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model16": {
      "ai_languageModel": [
        [
          {
            "node": "Pricing",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Question",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Use Case",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Onboarding",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Meeting",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Misc",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get social media urls": {
      "main": [
        [
          {
            "node": "Extract company linkedin url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain6",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract domain or company": {
      "main": [
        [
          {
            "node": "Full Domain or just company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Full Domain or just company": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract company linkedin url": {
      "main": [
        [
          {
            "node": "extract personal linkedin from company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract personal linkedin url": {
      "main": [
        [
          {
            "node": "extract personal linkedin details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract personal linkedin details": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract personal linkedin from company": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}