automated-sales-meeting-prep-workflow.json
{
  "id": "e4CAssXdq8r6rSCy",
  "meta": {
    "instanceId": "da4ab0dfab9545594afdbbd8e2347c29274c36efe4d80cdc8b66410174bf5bec",
    "templateCredsSetupCompleted": true
  },
  "name": "Featured - AI Sales Call Prep Automation",
  "tags": [],
  "nodes": [
    {
      "id": "a18a9586-1aaf-457d-b19a-8f8251497d20",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        -600
      ],
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "770d887a-26ba-4a59-8f60-97310eecaef8",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        220,
        -600
      ],
      "parameters": {
        "options": {},
        "timeMax": "={{ $now.plus({ day: 1 }) }}",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "blaise@fegrowthpartner.com",
          "cachedResultName": "blaise@fegrowthpartner.com"
        },
        "operation": "getAll",
        "returnAll": true
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZPRF7aa8GKX88Nju",
          "name": "Google Calendar account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "f744e443-7020-4a36-a23c-5040496a7441",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        -900
      ],
      "parameters": {
        "width": 200,
        "height": 640,
        "content": "### Every 24 Hours\n\nTriggered every 24 hours"
      },
      "typeVersion": 1
    },
    {
      "id": "ae9fcf43-ef01-4d46-b5f1-0440200b533e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        -900
      ],
      "parameters": {
        "width": 180,
        "height": 640,
        "content": "### Extract all upcoming calendar events\nIn the next 24 hours\n\n❗Replace Auth with your own account"
      },
      "typeVersion": 1
    },
    {
      "id": "a3b538f7-c65d-4fd3-aac8-1f9caabde571",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        540,
        -600
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "b9345382-9d75-42e9-8e12-bd5b1269feb8",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.summary }}",
              "rightValue": "sales"
            },
            {
              "id": "8c173604-da3e-4e02-8654-86ea24e0918c",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.summary }}",
              "rightValue": "disco"
            },
            {
              "id": "a97b4f11-2fc8-4539-9886-91af7338bf03",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.summary }}",
              "rightValue": "demo"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "d61414d7-7ce1-4261-8e78-281ae84bc525",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -900
      ],
      "parameters": {
        "width": 380,
        "height": 640,
        "content": "### Filter non-sales events\n\nCurrent conditions based on event name:\n1. \"sales\"\n2. \"disco\"\n3. \"demo\"\n\n❗Should be updated to match the most frequent identifiers for your sales stages\n\n❗Double-check that the iterator is correctly separating events out as needed"
      },
      "typeVersion": 1
    },
    {
      "id": "738d1fba-596e-4e66-a842-a9fb77a1abd8",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        880,
        -600
      ],
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apify~web-scraper/run-sync-get-dataset-items",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"startUrls\": [\n    {\n      \"url\": \"{{$json.attendees[0].email.split(\"@\")[1]}}\"\n    }\n  ],\n  \"linkSelector\": \"a[href]\",\n  \"pageFunction\": \"async function pageFunction(context) { const { page, request } = context; return { title: await page.title(), url: request.url, text: await page.evaluate(() => document.body.innerText) }; }\"\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer apify_api_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          ]
        }
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "1WLdUS4xt0dm3Qs1",
          "name": "Fake Appify API Key"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "b7a69c83-767a-438e-9734-4fea779b463c",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1100,
        -600
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "options": {
          "maxTokens": 800,
          "temperature": 0.4
        },
        "messages": {
          "values": [
            {
              "content": "=Based on this company research data, create a comprehensive sales meeting brief. Company data: {{ JSON.stringify($json) }}. Meeting: {{ $(\"Google Calendar\").item.json.summary }}. Include: company overview, recent developments, potential pain points, suggested talking points, and questions to ask.\n"
            }
          ]
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "xxxxx"
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "150dd669-0fe9-4551-8f66-c0b7d99ecca1",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        -900
      ],
      "parameters": {
        "width": 200,
        "height": 640,
        "content": "### Scrape their site for information\n\nUsing Apify.\n\n❗Replace with your own API key, double-check this works\n"
      },
      "typeVersion": 1
    },
    {
      "id": "80992c61-cc5a-476f-b812-935ca6b0d42b",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1060,
        -900
      ],
      "parameters": {
        "width": 340,
        "height": 640,
        "content": "### Generate a response\n\n❗Double-check that the prompt is correctly extracting the meeting body from the Google Calendar step"
      },
      "typeVersion": 1
    },
    {
      "id": "e16850d7-fc75-416a-914e-b1dd09bceb34",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1480,
        -600
      ],
      "webhookId": "edb43d74-23de-4a84-a2d1-1288003d189c",
      "parameters": {
        "message": "={{ $(\"Google Calendar\").item.json.organizer.email }}",
        "options": {},
        "subject": "=Meeting Brief: {{ $(\"Google Calendar\").item.json.summary }}"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "x@x.com"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "f4714979-b38b-4c26-bcfa-4cce299e763c",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        -900
      ],
      "parameters": {
        "width": 200,
        "height": 640,
        "content": "### Send an email to yourself for later reference\n\n❗This can be swapped out for a Google Doc saved into your Google Drive and/or added to the description of the original event for quicker access."
      },
      "typeVersion": 1
    },
    {
      "id": "70d5f9b2-58e0-41ef-9210-8c9c844e2a53",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        -400
      ],
      "parameters": {
        "color": 3,
        "height": 340,
        "content": "### ❗Note\n\nIf you'd like to increase trigger frequency, it would be ideal to add a filter here to stop the automation from recreating new docs or emails every hour.\n\nA Google Sheet with currently active upcoming sales calendar events and their respective files in the same row, each with unique IDs to match & verify you aren't duplicating work, could work in theory."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8bde57ef-438e-4372-b848-e6e590be4442",
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}