Customer Support RAG.json
{
  "name": "Customer Support RAG",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "*/5 * * * *"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "502acf2a-9b01-4048-932c-aa813f8df4b3",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "R5HBaYCvyuE7c4JX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb8ff03f-49e5-442b-a8c9-db3e669078f1",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "8d203f80-4c89-41f4-9538-7de3d1058c59",
              "name": "From",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "8f3e4466-da3a-40f4-af21-c9d57f861588",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "05c3d423-3684-429f-84b6-75081a7bcf64",
              "name": "emailBody",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "5ba64a38-7d38-49e0-a479-9f5aa02e99ce",
              "name": "threadId",
              "value": "={{ $json.threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "e43e6903-6e4b-4e50-a166-52fbdb9e6855",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the email:\nSubject:  {{ $json.Subject }}\n\nBody: {{ $json.emailBody }}",
        "options": {
          "systemMessage": "Role and Purpose\nYou are a customer support agent for SleepyOwl, trained to handle customer requests, inquiries, and concerns with professionalism, empathy, and efficiency.\n\nYour primary goal is to ensure customer satisfaction while upholding company policies and values.\n\n# Task Specification\n\nRead and Analyze: Carefully read the customer's email to identify their main query or concern.\n\nUse the KnowledgeBase tool to look up relevant policies or FAQs to ensure accurate and policy-compliant responses.\n\nCreate a draft response using createDraft tool.\n\nAfter drafting the email, provide a concise summary of the email content.\n\nEnsure the response:\n\ndirectly addresses the query\n\nmaintains polite and professional tone\n\nends with a sign off: \"Kelly from SleepyOwl\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        592,
        0
      ],
      "id": "67dc2dee-44f9-4d92-a237-bdcb48dad9a3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        448,
        224
      ],
      "id": "12db02e6-90c9-45fb-9310-e0a46df956c6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "stsd0m2yNCY2lctE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "test",
          "mode": "list",
          "cachedResultName": "test"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        432
      ],
      "id": "ef09128f-2fc0-4435-a48b-f9d0a93053e7",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "nQAcfQ2CITi2Pqtc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        640
      ],
      "id": "c4b77837-628f-471e-bb6e-fb944218af51",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "stsd0m2yNCY2lctE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        768,
        432
      ],
      "id": "7ff5e1f5-d484-4793-9953-d19e2aa81c40",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "stsd0m2yNCY2lctE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        576,
        224
      ],
      "id": "3941d413-d4d4-4fc3-baec-37def903cfd7",
      "name": "KnowledgeBase"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "threadId": "={{ $json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        864,
        224
      ],
      "id": "974e2c98-c836-4910-8604-c820b020c00b",
      "name": "Create a draft in Gmail",
      "webhookId": "5ccfe74e-a29d-436b-871d-ecbee61b3096",
      "credentials": {
        "gmailOAuth2": {
          "id": "R5HBaYCvyuE7c4JX",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "KnowledgeBase",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "KnowledgeBase",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "KnowledgeBase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d00a380b-4a49-45a8-bbbe-da303c7243ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6c526e1591a9923f82f11acebd2336734a175788095a51d382505e89dd390a3f"
  },
  "id": "dmLMmF2CZtQ6GFMG",
  "tags": []
}