sales-call-analyzer-workflow.json
{
  "id": "MyJ7LcaYkzOz6rDH",
  "meta": {
    "instanceId": "551141df5a24ce144bbc03f44b2dd7306df7998099bbfae3834a43e652a98b1e",
    "templateCredsSetupCompleted": false
  },
  "name": "Sales Call Analyzer",
  "tags": [],
  "nodes": [
    {
      "id": "dc8f8caa-5d85-4503-ba5f-bbe9bcc5b61c",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -1280,
        440
      ],
      "webhookId": "c3176ff1-1a1b-4824-b9ae-1694ed78e645",
      "parameters": {
        "options": {
          "buttonLabel": "Analyze Call"
        },
        "formTitle": "AI Sales Call Analyzer",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your Name",
              "requiredField": true
            },
            {
              "fieldType": "email",
              "fieldLabel": "Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Company Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Sales Rep Name",
              "placeholder": "Name of the sales representative on the call"
            },
            {
              "fieldLabel": "Prospect Name"
            },
            {
              "fieldType": "date",
              "fieldLabel": "Call Date"
            },
            {
              "fieldType": "textarea",
              "fieldLabel": "Call Transcript",
              "placeholder": "Paste the complete transcript of your sales call",
              "requiredField": true
            }
          ]
        },
        "formDescription": "Get detailed analysis of your sales calls with AI-powered insights"
      },
      "typeVersion": 2.2
    },
    {
      "id": "cb8639e4-8c3b-4a09-a9d7-5862c388835a",
      "name": "Clean Form Data",
      "type": "n8n-nodes-base.code",
      "position": [
        -1020,
        440
      ],
      "parameters": {
        "jsCode": "// Node: Code\n// Name: \"Clean & Validate Form Data - Dual Output\"\n\n// Get form data\nconst formData = $input.first().json;\n\n// Configuration\nconst config = {\n  minTranscriptLength: 300\n};\n\n// Comprehensive transcript cleaner that preserves timing information\nfunction cleanTranscript(transcript) {\n  if (!transcript || typeof transcript !== 'string') {\n    return { segments: [] };\n  }\n  \n  let cleaned = transcript;\n  \n  // Remove BOM and normalize line endings\n  cleaned = cleaned.replace(/^\\uFEFF/, '').replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n');\n  \n  // Detect format and extract segments\n  let format = detectFormat(cleaned);\n  \n  switch (format) {\n    case 'WEBVTT':\n      return cleanWebVTT(cleaned);\n    case 'SRT':\n      return cleanSRT(cleaned);\n    case 'ZOOM':\n      return cleanZoomTranscript(cleaned);\n    case 'TEAMS':\n      return cleanTeamsTranscript(cleaned);\n    default:\n      return cleanGenericTranscript(cleaned);\n  }\n}\n\n// Format detection\nfunction detectFormat(text) {\n  if (text.match(/^WEBVTT/i)) return 'WEBVTT';\n  if (text.match(/^\\d+\\s*\\n\\d{2}:\\d{2}:\\d{2},\\d{3}\\s*-->\\s*\\d{2}:\\d{2}:\\d{2},\\d{3}/m)) return 'SRT';\n  if (text.includes('-->') && text.match(/\\d{2}:\\d{2}:\\d{2}\\.\\d{3}/)) return 'WEBVTT';\n  if (text.match(/^\\d{2}:\\d{2}:\\d{2}\\s+[A-Za-z\\s]+:/m)) return 'ZOOM';\n  if (text.match(/\\[\\d{1,2}:\\d{2}:\\d{2}\\s*[AP]M\\]/)) return 'TEAMS';\n  return 'GENERIC';\n}\n\n// Clean WEBVTT format with speaker extraction\nfunction cleanWebVTT(text) {\n  const segments = [];\n  const lines = text.split('\\n');\n  let currentSegment = null;\n  \n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i].trim();\n    \n    // Skip WEBVTT header and notes\n    if (line === 'WEBVTT' || line.startsWith('NOTE')) continue;\n    \n    // Check for timestamp line\n    const timestampMatch = line.match(/(\\d{2}:\\d{2}:\\d{2}\\.\\d{3})\\s*-->\\s*(\\d{2}:\\d{2}:\\d{2}\\.\\d{3})/);\n    if (timestampMatch) {\n      if (currentSegment && currentSegment.text) {\n        // Extract speaker from text\n        const speakerMatch = currentSegment.text.match(/^([A-Za-z\\s\\-\\.]+?):\\s*(.*)$/);\n        if (speakerMatch) {\n          currentSegment.speaker = speakerMatch[1].trim();\n          currentSegment.text = speakerMatch[2].trim();\n        }\n        segments.push(currentSegment);\n      }\n      currentSegment = {\n        startTime: timestampMatch[1],\n        endTime: timestampMatch[2],\n        startSeconds: timeToSeconds(timestampMatch[1]),\n        endSeconds: timeToSeconds(timestampMatch[2]),\n        text: ''\n      };\n    } else if (currentSegment && line && !line.match(/^\\d+$/)) {\n      // Add text to current segment\n      currentSegment.text += (currentSegment.text ? ' ' : '') + line;\n    }\n  }\n  \n  // Don't forget the last segment\n  if (currentSegment && currentSegment.text) {\n    const speakerMatch = currentSegment.text.match(/^([A-Za-z\\s\\-\\.]+?):\\s*(.*)$/);\n    if (speakerMatch) {\n      currentSegment.speaker = speakerMatch[1].trim();\n      currentSegment.text = speakerMatch[2].trim();\n    }\n    segments.push(currentSegment);\n  }\n  \n  return { segments };\n}\n\n// Clean SRT format\nfunction cleanSRT(text) {\n  const segments = [];\n  const blocks = text.split(/\\n\\n+/);\n  \n  blocks.forEach(block => {\n    const lines = block.trim().split('\\n');\n    if (lines.length >= 2) {\n      const timestampMatch = lines[1].match(/(\\d{2}:\\d{2}:\\d{2},\\d{3})\\s*-->\\s*(\\d{2}:\\d{2}:\\d{2},\\d{3})/);\n      if (timestampMatch) {\n        const textLines = lines.slice(2).join(' ').trim();\n        if (textLines) {\n          const segment = {\n            startTime: timestampMatch[1].replace(',', '.'),\n            endTime: timestampMatch[2].replace(',', '.'),\n            startSeconds: timeToSeconds(timestampMatch[1].replace(',', '.')),\n            endSeconds: timeToSeconds(timestampMatch[2].replace(',', '.')),\n            text: textLines\n          };\n          \n          // Extract speaker from text\n          const speakerMatch = textLines.match(/^([A-Za-z\\s\\-\\.]+?):\\s*(.*)$/);\n          if (speakerMatch) {\n            segment.speaker = speakerMatch[1].trim();\n            segment.text = speakerMatch[2].trim();\n          }\n          \n          segments.push(segment);\n        }\n      }\n    }\n  });\n  \n  return { segments };\n}\n\n// Clean Zoom transcript\nfunction cleanZoomTranscript(text) {\n  const segments = [];\n  const lines = text.split('\\n');\n  let currentTime = null;\n  let currentSpeaker = null;\n  let currentText = '';\n  \n  lines.forEach(line => {\n    const speakerMatch = line.match(/^(\\d{2}:\\d{2}:\\d{2})\\s+([^:]+):\\s*(.*)$/);\n    \n    if (speakerMatch) {\n      if (currentTime && currentText && currentSpeaker) {\n        segments.push({\n          startTime: currentTime,\n          startSeconds: timeToSeconds(currentTime + '.000'),\n          speaker: currentSpeaker,\n          text: currentText.trim()\n        });\n      }\n      \n      currentTime = speakerMatch[1];\n      currentSpeaker = speakerMatch[2].trim();\n      currentText = speakerMatch[3];\n    } else if (currentTime && line.trim()) {\n      currentText += ' ' + line.trim();\n    }\n  });\n  \n  // Last segment\n  if (currentTime && currentText && currentSpeaker) {\n    segments.push({\n      startTime: currentTime,\n      startSeconds: timeToSeconds(currentTime + '.000'),\n      speaker: currentSpeaker,\n      text: currentText.trim()\n    });\n  }\n  \n  return { segments };\n}\n\n// Clean Teams transcript\nfunction cleanTeamsTranscript(text) {\n  const segments = [];\n  const lines = text.split('\\n');\n  \n  lines.forEach(line => {\n    const match = line.match(/\\[(\\d{1,2}:\\d{2}:\\d{2}\\s*[AP]M)\\]\\s*([^:]+):\\s*(.+)/);\n    if (match) {\n      segments.push({\n        startTime: match[1],\n        startSeconds: timeToSeconds(convertTo24Hour(match[1])),\n        speaker: match[2].trim(),\n        text: match[3].trim()\n      });\n    }\n  });\n  \n  return { segments };\n}\n\n// Clean generic transcript\nfunction cleanGenericTranscript(text) {\n  const segments = [];\n  const lines = text.split('\\n');\n  let currentSpeaker = null;\n  let currentText = '';\n  \n  lines.forEach(line => {\n    line = line.trim();\n    if (!line) return;\n    \n    // Check for speaker pattern\n    const speakerMatch = line.match(/^([A-Za-z0-9\\s\\-\\.]+?):\\s*(.*)$/);\n    \n    if (speakerMatch) {\n      if (currentSpeaker && currentText) {\n        segments.push({\n          speaker: currentSpeaker,\n          text: currentText.trim()\n        });\n      }\n      \n      currentSpeaker = speakerMatch[1].trim();\n      currentText = speakerMatch[2];\n    } else if (currentSpeaker) {\n      currentText += ' ' + line;\n    } else {\n      // No speaker format, treat as continuous text\n      segments.push({\n        text: line\n      });\n    }\n  });\n  \n  // Last segment\n  if (currentSpeaker && currentText) {\n    segments.push({\n      speaker: currentSpeaker,\n      text: currentText.trim()\n    });\n  }\n  \n  return { segments };\n}\n\n// Format segments into two outputs\nfunction formatTranscripts(segments) {\n  let cleanWithoutTimestamps = '';\n  let cleanWithTimestamps = '';\n  \n  segments.forEach((segment) => {\n    if (segment.speaker) {\n      // Version without timestamps\n      cleanWithoutTimestamps += `${segment.speaker}: ${segment.text}\\n\\n`;\n      \n      // Version with timestamps\n      if (segment.startTime) {\n        cleanWithTimestamps += `[${segment.startTime}] ${segment.speaker}: ${segment.text}\\n\\n`;\n      } else {\n        cleanWithTimestamps += `${segment.speaker}: ${segment.text}\\n\\n`;\n      }\n    } else if (segment.text) {\n      // No speaker identified, just add the text\n      cleanWithoutTimestamps += `${segment.text}\\n\\n`;\n      \n      if (segment.startTime) {\n        cleanWithTimestamps += `[${segment.startTime}] ${segment.text}\\n\\n`;\n      } else {\n        cleanWithTimestamps += `${segment.text}\\n\\n`;\n      }\n    }\n  });\n  \n  return {\n    withoutTimestamps: cleanWithoutTimestamps.trim(),\n    withTimestamps: cleanWithTimestamps.trim()\n  };\n}\n\n// Helper functions\nfunction timeToSeconds(time) {\n  if (!time) return 0;\n  const parts = time.split(':');\n  if (parts.length === 3) {\n    const [hours, minutes, seconds] = parts;\n    return parseInt(hours) * 3600 + parseInt(minutes) * 60 + parseFloat(seconds);\n  }\n  return 0;\n}\n\nfunction convertTo24Hour(time12h) {\n  const [time, modifier] = time12h.split(/\\s+/);\n  let [hours, minutes, seconds] = time.split(':');\n  hours = parseInt(hours);\n  \n  if (modifier === 'PM' && hours !== 12) {\n    hours += 12;\n  } else if (modifier === 'AM' && hours === 12) {\n    hours = 0;\n  }\n  \n  return `${hours.toString().padStart(2, '0')}:${minutes}:${seconds || '00'}`;\n}\n\n// Main processing\nconst result = cleanTranscript(formData['Call Transcript'] || '');\nconst formatted = formatTranscripts(result.segments);\n\n// Validate minimum length\nif (formatted.withoutTimestamps.length < config.minTranscriptLength) {\n  throw new Error(\n    `Transcript too short for meaningful analysis. ` +\n    `Please provide at least ${config.minTranscriptLength} characters. ` +\n    `Current length: ${formatted.withoutTimestamps.length} characters.`\n  );\n}\n\n// Validate email\nfunction isValidEmail(email) {\n  const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n  return emailRegex.test(email);\n}\n\nif (!isValidEmail(formData.Email)) {\n  throw new Error('Please provide a valid email address');\n}\n\n// Format date\nfunction formatDate(dateString) {\n  if (!dateString) return new Date().toISOString();\n  try {\n    const date = new Date(dateString);\n    return isNaN(date.getTime()) ? new Date().toISOString() : date.toISOString();\n  } catch (e) {\n    return new Date().toISOString();\n  }\n}\n\n// Prepare cleaned data\nconst cleanedData = {\n  // Client Information\n  clientInfo: {\n    name: (formData['Your Name'] || '').trim(),\n    email: formData.Email.trim().toLowerCase(),\n    company: (formData['Company Name'] || '').trim()\n  },\n  \n  // Call Information\n  callInfo: {\n    salesRep: (formData['Sales Rep Name'] || 'Not specified').trim(),\n    prospect: (formData['Prospect Name'] || 'Not specified').trim(),\n    callDate: formatDate(formData['Call Date']),\n    submittedAt: formData.submittedAt || new Date().toISOString()\n  },\n  \n  // Two versions of the transcript\n  transcriptClean: formatted.withoutTimestamps,\n  transcriptWithTimestamps: formatted.withTimestamps,\n  \n  // Metadata\n  metadata: {\n    analysisId: `analysis_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`,\n    formMode: formData.formMode || 'production',\n    transcriptStats: {\n      length: formatted.withoutTimestamps.length,\n      wordCount: formatted.withoutTimestamps.split(/\\s+/).filter(word => word.length > 0).length,\n      segments: result.segments.length\n    }\n  }\n};\n\n// Validation\nconst errors = [];\nif (!cleanedData.clientInfo.name) errors.push('Name is required');\nif (!cleanedData.clientInfo.company) errors.push('Company name is required');\n\nif (errors.length > 0) {\n  throw new Error('Validation errors: ' + errors.join(', '));\n}\n\n// Return cleaned data\nreturn cleanedData;"
      },
      "typeVersion": 2
    },
    {
      "id": "c1e503b2-b3ff-4018-92fc-eaa20b47363e",
      "name": "Summarize the call",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        120,
        440
      ],
      "parameters": {
        "text": "=<transcript>\n{{ $('Clean Data from Both Routes').item.json.transcript }}\n</transcript>\n\n<review_example>\n{{ $json.notes_structure }}\n</review_example>\n\nYou are a savage Sales Manager with over 20 years experience selling AI business opportunities to make money online with an AI business. Create a comprehensive sales call review analysis using the AI Acquisition Sales Call Review Framework based on the transcript. You need to pay close attention to details and make sure with 100% accuracy that they have been compliant with the framework. Do this 100% correctly as my friends and family life depends on it. The framework should include:\n\nFirst, check if the transcript contains timestamps (format: [HH:MM:SS] or similar).\n- If YES: Use timestamps in your citations\n- If NO: Use descriptive phase markers instead (e.g., \"Early in the call\", \"During discovery\")\n\nNever invent timestamps that don't exist in the source material.\n\n1. Introduction with a title and brief description of the framework's purpose\n2. Scoring Breakdown table with 6 categories:\n   - Call Control (0-10)\n   - Discovery Depth (0-10)\n   - Belief Shifting (0-10)\n   - Objection Handling (0-10)\n   - Pitch Effectiveness (Including evidence shared on screen) (0-10)\n   - Closing Strength (0-10)\n   - Include a total score out of 60\n\n3. For each category, provide a detailed analysis with:\n   - What Worked (✅) section with:\n     * Specific techniques/approaches used successfully\n     * Timestamp references from the call [MM:SS-MM:SS]\n     * Direct quotes from the conversation\n     * Explanation of why these approaches were effective\n\n   - What Needed Improvement (❌) section with:\n     * Specific areas for growth\n     * Timestamp references from the call\n     * Direct quotes where applicable\n     * Explanation of why this needed improvement\n     * Suggestions for how to fix these issues in future calls\n\n4. For the Objection Handling section, include a detailed breakdown of:\n   - Each objection encountered (numbered)\n   - Whether it was pre-handled or post-handled\n   - Effectiveness score for each objection (0-10)\n   - What worked well in handling the objection\n   - What needed improvement\n   - A specific \"Fix for Next Call\" script for handling this objection better\n   - A summary table of all objections\n\n5. Final Takeaways section with:\n   - Biggest Strength (🔥)\n   - Biggest Weakness (⚠️)\n   - Game-Changer for Next Call (🎯)\n   - Final Score with brief justification\n\nUse professional formatting with emojis, clear headings, and visual separation between sections. Include specific timestamps and direct quotes from the call to provide concrete evidence for all observations.\n\n**Important Note on Citations:**\n- If the transcript includes timestamps, use them in the format [MM:SS-MM:SS]\n- If the transcript does NOT include timestamps (plain text only), instead use:\n  - \"Early in the call:\" for beginning sections\n  - \"During discovery:\" for discovery phase\n  - \"In the pitch section:\" for pitch phase\n  - \"During closing:\" for closing phase\n  - Or simply quote the relevant text without timestamps\n\nOnly use actual timestamps that exist in the transcript. Never create fake timestamps.",
        "promptType": "define",
        "hasOutputParser": true
      },
      "retryOnFail": true,
      "typeVersion": 1.5,
      "waitBetween": 5000
    },
    {
      "id": "b8afa735-348b-4c72-bee8-582f23a2ecfe",
      "name": "Add notes structure",
      "type": "n8n-nodes-base.set",
      "position": [
        -60,
        440
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "c4768535-120d-493c-bb3a-506c2cf84689",
              "name": "notes_structure",
              "type": "string",
              "value": "=Here is an example from a call:\n\n🔥 AI Acquisition Sales Call Review Framework\nFor Mastermind-Level Sales Call Analysis\nThis elite-level call review analyzes the sales conversation with surgical precision, breaking down every key area of the sales conversation to provide maximum learning and improvement opportunities.\n📊 Scoring Breakdown (Total: 50/60)\nCategory\nScore (0-10)\nKey Takeaway\nCall Control\n9/10\nRep maintained exceptional structure and guided prospect through the entire conversation with authority\nDiscovery Depth\n8/10\nGood exploration of prospect's situation and goals with specific validation questions\nBelief Shifting\n8/10\nEffectively reframed key objections and positioned offering as logical solution to prospect's goals\nObjection Handling\n7/10\nAddressed most objections effectively but missed some pre-handling opportunities\nPitch Effectiveness\n9/10\nClear value proposition and pricing structure with excellent demonstration of tools\nClosing Strength\n9/10\nStrong close with clear next steps and effective use of urgency and social proof\n\n1. Call Control (9/10)\n✅ What Worked:\nDirection & Leadership:\nThe salesperson (Matthew) established and maintained authority throughout the call, confidently driving the conversation while allowing the prospect to ask questions.\n📍 Timestamp: [01:21-01:33]\nSalesperson: \"Anyways. Obviously, I know you don't know. Message mentioned. You've been messaging in the DMs. So you're interested in just jumping on and learning more. What was it? Typically that kind of interest you and caught your attention? I guess.\"\nWhy this worked: Immediately took control by setting the agenda and directing the conversation toward understanding the prospect's needs and interests.\n📍 Timestamp: [07:49-08:10]\nSalesperson: \"Own that the minute that you plug and play it you'll kind of like fee that obviously we charge for partnership covers all of that. So in terms of the agency, what's your goal with it? In terms of like growth and scale, like, what? What does good look like to you in the next kind of 4 months.\"\nWhy this worked: After explaining a feature, Matthew smoothly transitioned to uncovering the prospect's goals and vision, keeping the conversation focused on qualifying and discovery.\nSmooth Transitions:\nThe rep seamlessly moved between discovery, demonstration, explaining the offering, and addressing objections.\n📍 Timestamp: [25:37-25:42]\nSalesperson: \"Yeah. So if you want, I can talk you through exactly how we partner with you.\"\nWhy this worked: After answering several questions, Matthew recognized the right moment to transition to presenting the partnership options, maintaining control while being responsive to the prospect's interests.\n📍 Timestamp: [33:43-34:35]\nSalesperson: \"Yeah. So let me try and get you. This is I. I bought this... so I don't do massive numbers on mine, because I got like other things going on, so I only do it passively... This is my website for my business...\"\nWhy this worked: Smoothly transitioned to showing real examples to reinforce his points, adding credibility to his explanations of how the business model works.\nEffective Redirection:\nThe rep consistently kept the conversation on track, even when handling detailed questions.\n📍 Timestamp: [19:42-19:51]\nProspect: \"Yeah, let me pull up my sheets. I did. I did!\"\nSalesperson: \"By the way, I will explain to you exactly how we work with you in a minute. So questions like specific to that, you can ask them after but in the meantime fire away.\"\nWhy this worked: Matthew acknowledged the prospect's questions while setting expectations about when they would be addressed, maintaining control of the conversation flow.\n❌ What Needed Improvement:\nOccasional Information Overload:\nAt times, the rep provided more details than necessary, which could potentially overwhelm the prospect.\n📍 Timestamp: [30:16-31:24]\nThe rep provided an extended explanation of how the system works, covering multiple aspects of the process without checking for understanding.\nWhy this needed improvement: Breaking this explanation into smaller chunks with check-ins would ensure the prospect was following along and remained engaged.\n2. Discovery Depth (8/10)\n🔥 Current Situational Analysis\n✅ What Was Done Well (Clear Data & Understanding)\n1. Extracted Key Information About Current Business Situation\n📍 Timestamp: [04:02-04:12]\nSalesperson: \"So talk to me a little bit about is, are they your only client, and is early stage? Just that one client? How much do they pay you if you don't mind me asking.\"\nProspect: \"Yeah, it's 5K a month, and it's just a few. Yeah, it's it's nice. It's a few hours a week.\"\nWhy this was strong: The rep asked direct questions to establish the prospect's current business baseline, including revenue and time commitment, creating a clear reference point for the rest of the conversation.\n📍 Timestamp: [05:10-05:13]\nSalesperson: \"To extend them, upsell them.\"\nWhy this was strong: Proactively suggested a business growth opportunity, demonstrating consultative value while gathering more information about the prospect's current client situation.\n2. Clarified Future Goals and Aspirations\n📍 Timestamp: [08:53-09:25]\nSalesperson: \"Okay? So for let's pencil in a hundred k. Per month, I guess that's your 1st month, like for most business owners that I speak to. That's the 1st milestone is like, I just want to get to 6 figures a month, because then I'm 7. Figure entrepreneur. 6 figures a month like that. That's a good goal to have. What's your current, I guess. Process. What are you currently doing this like aiming to get you to that 100K a month right now.\"\nWhy this was strong: Established a clear, quantifiable goal based on the prospect's earlier statements and immediately followed up to understand what actions the prospect is currently taking, revealing potential gaps their service could fill.\n3. Uncovered Knowledge Gaps and Implementation Needs\n📍 Timestamp: [13:32-14:11]\nSalesperson: \"How much do you know about AI and about AI lead gen systems and what you can really build for clients right now.\"\nProspect: \"I wouldn't say I'm an expert by any means. I sometimes I get frustrated because I know there's so much that I don't know, and it's bad, and I just like stay up researching it and stuff. I think I know what is possible, but I don't know how to do it.\"\nSalesperson: \"Okay, makes sense. Do you want to know a lot about AI, or do you want to pay someone to run the business for you with the AI.\"\nWhy this was strong: Identified a critical gap between the prospect's knowledge and implementation ability, which became a key selling point for their partnership model.\n❌ What Could Have Been Done Better (Missed Clarity & Data Gaps)\n1. Limited Exploration of Financial Resources for Investment\n📍 Timestamp: [52:14-52:31]\nSalesperson: \"Yeah, I'll email you the one pager, the agreement and then the investment links. You can see all the details there and then, if you have any questions, just email me back. And in the meantime, like, obviously, just feel free to reach out whenever.\"\nWhy this fell short: The rep didn't explore the prospect's financial readiness for the investment or discuss payment options, which could have addressed a potential barrier to closing.\n2. Insufficient Exploration of Decision-Making Timeline\n📍 Timestamp: [49:15-49:49]\nProspect: \"I guess that's all, for now, if you have any, I'm definitely, you know, interested and likely going to do the 10.8 if you have any like resources, or like, you know, starter deck, or anything like that, that I could kind of like sift through.\"\nSalesperson: \"Yeah. So I can send you a 1 pager. That kind of covers it all. The next step from here is to make the investment.\"\nWhy this fell short: While the rep provided clear next steps, he didn't ask about the prospect's decision-making timeline or what might be influencing their decision, which could have helped identify any remaining concerns.\n3. Limited Exploration of Past Business Attempts\n📍 Timestamp: [09:25-10:49]\nWhen the prospect mentioned she was researching options for her business, the rep didn't dig deeper into what specific strategies she had attempted or considered before.\nWhy this fell short: Understanding past attempts would have provided valuable context about potential obstacles and allowed for more targeted positioning of their solution.\n3. Belief Shifting (8/10)\n✅ What Worked:\nEffectively Reframed Time-to-Results Expectations\n📍 Timestamp: [10:49-11:23]\nSalesperson: \"Yeah, yeah, look, it's it's why most people invest in a partnership like ours is like between me and you, you're probably gonna get to a hundred K a month. Right? Like you've you've got 5 K. Client. You're obviously talented as you've got experience in the space you're gonna get to 100K a month. It might just take you 2 years, whereas, working with us, there's a chance. You do that in 6 months, which, if you accumulate that year and a half, that's, you know, a year and a half of an extra 100K a month. You're taking home so that you pay us to just skip a few levels, get to the destination quicker and start making the money you want to make quicker.\"\nWhy this worked: Shifted the prospect's perspective from seeing the partnership fee as an expense to seeing it as an investment that accelerates results, dramatically changing the cost-benefit analysis.\nTransformed Perception of DIY vs Partnership Approach\n📍 Timestamp: [14:23-15:16]\nSalesperson: \"Makes sense. Yeah, so similar to Jordan. Like to be really transparent with you. Jordan likes to know the high level macro strategy with AI, so that he pull a few strings in the business and knows what's going on and control what's happening, but won't do any of the work... Unless you're really nerdy. And you really love AI, which, like fair play, if that's the life you want. You don't need to know loads about AI. You just need to know the macro strategy of implementing the AI into companies businesses. So one of the things I would say to you is like. The goal here is to move from an agency to an agency where you have AI agents implementing the work for you.\"\nWhy this worked: Effectively reframed the prospect's view of what level of AI knowledge is necessary, shifting from technical expertise to strategic oversight, making the offering seem more accessible.\nChanged View of Client Relationship Structure\n📍 Timestamp: [23:03-23:10]\nProspect: \"So do they set it up, or we set it up for them on behalf of their own company, or like, do we have the CRM system, and like plug in their account to our system. If that makes sense.\"\nSalesperson: \"So you plug it into your system, which is like scenario, because it makes you even harder to get rid of essentially.\"\nWhy this worked: Reframed the technical implementation as a strategic business advantage, shifting the prospect's view from operational detail to client retention strategy.\n❌ What Needed Improvement:\nCould Have Better Addressed Tool Ownership Concern\n📍 Timestamp: [23:10-23:27]\nProspect: \"And I just, I I think, long term, if something were to happen to like your guys's agency or something, the tool I would lose access to the tools because they're through. You guys.\"\nSalesperson: \"No, it's all on your account. So once you once you, you would essentially set up an account with our like White Label Company. Once you have that account as your account for life like, no one can take that away from you.\"\nWhy this needed improvement: While the rep addressed the immediate concern, he could have used this as an opportunity to build more trust by explaining the technical structure in more detail or providing examples of long-term clients.\n4. Objection Handling (7/10)\n🛠️ Objection Handling Breakdown\n🚧 Objection 1: Concern About Client Ownership\n📍 Timestamp: [07:09-07:29]\nProspect: \"Right, that makes sense. I actually, I was wondering... you know, the clients, that whether I already work with or clients that I get through, you guys, is there like a ownership type thing like, you guys own the clients that would come through, you guys that I, you know.\"\n🔹 Pre-Handled? ❌ No 🔹 Post-Handled? ✅ Yes 📊 Effectiveness Score: 9/10\n✔️ What Worked:\nDirectly and clearly addressed the ownership concern without hesitation\nExplained the licensing model clearly, distinguishing it from an equity partnership\nReinforced the prospect's autonomy in the business relationship\n❌ What Needed Improvement:\nCould have anticipated this common objection earlier in the conversation\n⚡ Fix for Next Call: \"Before we dive deeper, I want to clarify something important - you maintain 100% ownership of your agency and all clients. We license our tools and systems to you, but we're not equity partners in your business. This gives you complete control while leveraging our technology. The minute you implement our systems, they're yours to use within your business.\"\n🚧 Objection 2: Concern About Tool Access If Partnership Ends\n📍 Timestamp: [20:02-20:43]\nProspect: \"So I won't go through all of them. I'm sure you'll answer some of them. Oh, it is I guess I'm trying to understand, because obviously this is new in this day and age like it's it's a new industry, not industry. But this model is semi new. And you said, you know you, you would basically license the tools and everything out to out to us out to me. So then is, do we have control of those, or ownership of those for a year that we pay for yearly, or do we own it. The license at that point, or how does that work.\"\n🔹 Pre-Handled? ❌ No 🔹 Post-Handled? ✅ Yes 📊 Effectiveness Score: 8/10\n✔️ What Worked:\nProvided clear explanation of the licensing term and renewal process\nMentioned the low cost of ongoing licensing after the partnership period\nCreated certainty about what happens after the initial agreement\n❌ What Needed Improvement:\nCould have provided more specific details about the licensing terms\n⚡ Fix for Next Call: \"Great question about licensing. Here's exactly how it works: You get full access to all our AI tools for 12 months as part of your partnership fee. After that, you can continue using everything with just a nominal licensing fee (around $60 per tool per month). The important thing to understand is that once you set up these systems for your clients, they're implemented on YOUR accounts - not ours - so you maintain complete control. Many of our partners have been using these tools for years with just the minimal renewal fee.\"\n🚧 Objection 3: Concern About Competing for Same Clients\n📍 Timestamp: [17:56-18:24]\nProspect: \"Now, what about with it? Kind of all being automated? how do the automations make sure that? Say I'm going after real estate agency, or like a real estate industry. You know, I guess my question is like, How do the systems make sure that they're not giving me a lead that they also gave. You know. this other person who's with you guys the same lead like, how does it not overlap.\"\n🔹 Pre-Handled? ❌ No 🔹 Post-Handled? ✅ Yes 📊 Effectiveness Score: 7/10\n✔️ What Worked:\nExplained their approach to niching down to minimize overlap\nReframed potential competition as a normal aspect of business\nPositioned closing ability as the differentiator between partners\n❌ What Needed Improvement:\nCould have provided more specific examples of how niches are assigned\nDidn't fully address the technical aspect of lead assignment\n⚡ Fix for Next Call: \"That's an insightful question about lead overlap. We handle this in three ways: First, we work with you to find a specific niche where there's minimal competition - only 0-1 other partners maximum targeting the same sector. Second, our AI systems actually map the entire market size during your setup to ensure there's enough opportunity. Third, we use geographic targeting parameters to further segment the market. For example, one partner might focus on luxury real estate in Florida while another targets commercial real estate in the Midwest. The reality is, there are thousands of businesses in any given niche, and most of our partners are barely scratching the surface of their total addressable market.\"\n🚧 Objection 4: Concern About Support with 400+ Clients\n📍 Timestamp: [50:41-51:27]\nProspect: \"Okay? I guess? I asked, because obviously 400 people is a lot. But I know you guys have a team as well. What's kind of you said if I wanted to hop on tonight to to get set up or tomorrow like it can obviously happen super quick with about 400 people after you guys, you know, like, is, is it hard to get in contact with you guys? If we need support does it take a long time for responses?\"\n🔹 Pre-Handled? ❌ No 🔹 Post-Handled? ✅ Yes 📊 Effectiveness Score: 8/10\n✔️ What Worked:\nProvided a clear service level agreement (2-hour response time)\nExplained the dedicated consultant model that ensures personalized support\nDemonstrated confidence in their support structure\n❌ What Needed Improvement:\nCould have provided more details about the support team structure\nDidn't offer evidence of their support quality (e.g., testimonials)\n⚡ Fix for Next Call: \"I understand your concern about responsiveness with 400+ partners. Here's how we ensure you get top-tier support: First, you'll be assigned a dedicated consultant who's responsible specifically for your success - they're typically managing just 15-20 partners at a time. Second, we guarantee a maximum 2-hour response time, though our average is actually 37 minutes. Third, we have a full team of 28 support specialists working across different time zones to ensure 24/7 coverage. One of our partners, Sarah, actually mentioned last week that our support was the key difference between us and other programs she tried - she said she's never waited more than an hour for meaningful help with any issue.\"\n🚧 Objection 5: Concern About Long Setup Times\n📍 Timestamp: [45:24-45:45]\nProspect: \"Okay, okay, one of the videos was saying that at like a 1 k to 5 K month retainer, it could take like one to 3 months to set up, or something. What, exactly, is being set up? And why does it take that long? And is that something I would be doing or like the AI would be doing.\"\n🔹 Pre-Handled? ❌ No 🔹 Post-Handled? ✅ Yes 📊 Effectiveness Score: 7/10\n✔️ What Worked:\nClarified the typical setup timeframe (1-2 weeks in most cases)\nExplained that longer setups apply only to complex, specialized deliverables\nReassured the prospect that her use case would likely be simpler\n❌ What Needed Improvement:\nCould have provided more specific details about what happens during setup\nDidn't completely address who would be responsible for the setup\n⚡ Fix for Next Call: \"Great question about setup times. For 90% of our partners, the initial setup takes just 7-14 days, not months. Here's the breakdown: Days 1-3, we configure your AI acquisition systems. Days 4-7, we build your brand assets (website, LinkedIn, etc.). Days 8-14, we launch your initial campaigns. The 1-3 month timeframe mentioned in the video only applies to extremely complex enterprise integrations, which isn't what you'd be doing based on what you've shared. Our team handles the entire technical setup - you'll just need to provide input on targeting, messaging and brand preferences. By day 15, you're typically already taking sales calls generated by the system.\"\nFinal Objection Handling Performance Summary\nObjection\nPre-Handled?\nPost-Handled?\nEffectiveness Score\nClient Ownership\n❌\n✅\n9/10\nTool Access After Partnership\n❌\n✅\n8/10\nCompeting for Same Clients\n❌\n✅\n7/10\nSupport with 400+ Clients\n❌\n✅\n8/10\nLong Setup Times\n❌\n✅\n7/10\n\n5. Pitch Effectiveness (9/10)\n✅ What Worked:\nClear, Tiered Pricing Structure with Transparent Benefits\n📍 Timestamp: [25:42-28:04]\nSalesperson: \"Yeah. So if you want, I can talk you through exactly how we partner with you. Just before I get into that. we have 3 levels of partnership the biggest differentiator is how fast you want to go. So we have a 12 month partnership, which would be basically group based coaching and consultancy. You'll get full access for licensing for all of our AI tech stacks...\"\nWhy this worked: Presented a structured, tiered offering with clear differentiation based on speed to results, making it easy for the prospect to understand the options and self-select.\nEffective Demonstration of Tools in Action\n📍 Timestamp: [35:33-36:29]\nSalesperson: \"I'll show you this. This is incredible. This is probably my favorite AI tool of the AI tools that you get access to that I'll show you. So I just think it's so smart because you'd have seen our marketing right at some point. It's done. Jacob sends a voice note in right to this slack channel, he only sends it to this slack channel. The AI transcribes the voice note. and then it generates the Linkedin posts and posts them for us...\"\nWhy this worked: Showed a real, tangible example of the tools in action, creating a \"wow\" moment and demonstrating actual value rather than just describing features.\nDirectly Connected Offering to Prospect's Goals\n📍 Timestamp: [38:58-40:18]\nSalesperson: \"So yeah, like, it's, it's pretty straightforward. To give you an idea. We do have this mapped out. This just helps you to like conceptualize the difference in like the average success rates. So this is filled out with like, roughly, what guys will get with us? What we typically see with the 24.5 is, the average...\"\nWhy this worked: Connected the offering directly to the prospect's stated goal of reaching $100K per month, showing how each option could help her achieve that goal at different speeds.\n❌ What Needed Improvement:\nCould Have Personalized the Pitch More to Prospect's Situation\n📍 Timestamp: [31:24-31:44]\nThroughout the pitch, the rep could have tied the features and benefits more explicitly to the prospect's specific situation with her automotive client.\nWhy this needed improvement: More personalized examples would have strengthened the connection between the offering and the prospect's immediate needs.\n6. Closing Strength (9/10)\n✅ What Worked:\nCreated Powerful Urgency Through Guarantee and Track Record\n📍 Timestamp: [47:31-48:23]\nSalesperson: \"Oh, by the way, most people ask, I forgot to tell you should have told you. With the investment. You get a 60 day satisfaction guarantee. So after 60 days, if you're not satisfied, you can get your money back. The only thing that we require is that you close at 5% close rate.\"\nWhy this worked: Added a risk-reversal element that made saying \"yes\" easier while maintaining credibility by including a reasonable condition.\n📍 Timestamp: [52:49-53:26]\nSalesperson: \"Yeah, perfect. Look forward to having you working with us hopefully, you'll be on the Youtube soon. I'll keep an eye out. I'll be honest with you.\"\nProspect: \"Put it now into the universe.\"\nSalesperson: \"Yeah, I'm on a hot streak. I I've done, maybe. So just to give you context. I jumped on a few because one of our guys is out. I'm the CEO. So I own the company. I well, directly with Jordan. I've jumped on, probably like 6 of these recently, and all 6 of them have closed a deal within the 1st 28 days, so no pressure or anything. But you can't.\"\nWhy this worked: Used social proof and his own track record to create urgency and positive expectation, making the prospect want to be the next success story.\nClear, Action-Oriented Next Steps\n📍 Timestamp: [49:15-49:49]\nProspect: \"I guess that's all, for now, if you have any, I'm definitely, you know, interested and likely going to do the 10.8 if you have any like resources, or like, you know, starter deck, or anything like that, that I could kind of like sift through.\"\nSalesperson: \"Yeah. So I can send you a 1 pager. That kind of covers it all. The next step from here is to make the investment. Obviously. I can send you through the agreement which you can read through and kinda make sure you're happy with. Then, once you make the investment, we get you on boarded straight away.\"\nWhy this worked: Provided clear, specific next steps with no ambiguity about what happens next, making it easy for the prospect to move forward.\nCreated a Competitive Challenge to Accelerate Decision\n📍 Timestamp: [53:21-54:08]\nSalesperson: \"Decide to do it.\"\nProspect: \"Okay, I'll get the 1st 21 days. Actually.\"\nSalesperson: \"The record was 17. So if you can do 17 days, or less.\"\nProspect: \"I think I that's okay. I actually think I could do that like pretty easily.\"\nSalesperson: \"Keep my street going. I can't! I can't.\"\nWhy this worked: Cleverly created a competitive challenge that engaged the prospect and accelerated her commitment to not only joining but also achieving results quickly.\n❌ What Needed Improvement:\nCould Have Asked for Commitment More Directly\n📍 Timestamp: [52:14-52:31]\nSalesperson: \"Yeah, I'll email you the one pager, the agreement and then the investment links. You can see all the details there and then, if you have any questions, just email me back. And in the meantime, like, obviously, just feel free to reach out whenever.\"\nWhy this needed improvement: The rep could have asked for a direct commitment or at least a timeline for decision rather than leaving it completely open-ended.\n🚀 Final Takeaways\n🔥 Biggest Strength:\nThe rep's exceptional ability to demonstrate tangible value through showing actual tools and examples rather than just describing features. This created multiple \"wow\" moments that built credibility and excitement throughout the call.\n⚠️ Biggest Weakness:\nLack of proactive objection handling - the rep consistently addressed objections well after they were raised but rarely anticipated and pre-handled common concerns, which could have created an even smoother path to closing.\n🎯 Game-Changer for Next Call:\nPre-handle the financial investment discussion by exploring budget comfort and decision-making timeline earlier in the call. This would create a smoother transition to pricing and increase the likelihood of an immediate commitment rather than a follow-up.\n🔹 Final Score: 50/60\nThis score reflects an excellent sales call that effectively positioned the offering, demonstrated value, and created excitement and urgency. The rep maintained control throughout while building genuine rapport and addressing objections effectively. With some improvements in proactive objection handling and commitment securing, this approach could consistently achieve exceptional results.\n\n"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "ff901068-5e14-4a4a-b637-de2ca1414188",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        200,
        600
      ],
      "parameters": {
        "model": "google/gemini-2.5-pro-preview",
        "options": {
          "maxTokens": 32768,
          "maxRetries": 3,
          "temperature": 0.7
        }
      },
      "typeVersion": 1
    },
    {
      "id": "67594120-ec4c-4cd6-a306-d16faae5727b",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -340,
        -600
      ],
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={\n  \"plainToken\": \"{{ $('Zoom Webhook').item.json.body.payload.plainToken }}\",\n  \"encryptedToken\": \"{{ $json.encryptedToken }}\"\n}\n "
      },
      "typeVersion": 1.1
    },
    {
      "id": "8f3d1bc2-f663-41ed-a4c3-b0c603886064",
      "name": "Revalidation",
      "type": "n8n-nodes-base.if",
      "position": [
        -1020,
        -140
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "6be1d6fc-4c27-4bb8-8e46-3982b7e6ffd8",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "url_validation"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "348f2c63-be39-46f8-aab3-b1489ee46526",
      "name": "Hash keys",
      "type": "n8n-nodes-base.crypto",
      "position": [
        -540,
        -600
      ],
      "parameters": {
        "type": "SHA256",
        "value": "={{ $('Zoom Webhook').item.json.body.payload.plainToken }}",
        "action": "hmac",
        "secret": "=INPUT SECRET HERE",
        "dataPropertyName": "encryptedToken"
      },
      "typeVersion": 1
    },
    {
      "id": "6fd0fe0c-5ffc-4170-a009-84054af4055f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -620,
        -660
      ],
      "parameters": {
        "color": 2,
        "width": 640,
        "height": 240,
        "content": "For Zoom's periodic webhook revalidation"
      },
      "typeVersion": 1
    },
    {
      "id": "0c0562c8-2894-44cc-9058-5a4e1ccd7054",
      "name": "Revalidation Execution Data",
      "type": "n8n-nodes-base.executionData",
      "position": [
        -160,
        -600
      ],
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "name",
              "value": "revalidation"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "8b1abd36-b224-41bb-a5b3-f5dc5cb72003",
      "name": "Set Minimum Call Duration",
      "type": "n8n-nodes-base.set",
      "position": [
        -540,
        -120
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "7e26cca4-fa3c-4440-906b-8a0ff7cf6356",
              "name": "MinimumDuration(Mins)",
              "type": "number",
              "value": 10
            },
            {
              "id": "8c6a2472-971c-4ee7-9bdc-3d10ebf09a4c",
              "name": "CallStart",
              "type": "string",
              "value": "={{ $json.body.payload.object.recording_files[0].recording_start }}"
            },
            {
              "id": "859930f6-f465-44d3-ae86-da665bdbfe8b",
              "name": "CallEnd",
              "type": "string",
              "value": "={{ $json.body.payload.object.recording_files[0].recording_end }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "82535faf-e4ea-4d15-a655-46b28da61c82",
      "name": "If True",
      "type": "n8n-nodes-base.if",
      "position": [
        -200,
        -120
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b2c15e2e-4ecb-45d7-a5ff-b225f968b3d5",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.process_call }}",
              "rightValue": 0
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "a108ad4b-a347-4eb4-91cc-8f3a425f8c0b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -620,
        -200
      ],
      "parameters": {
        "color": 3,
        "width": 640,
        "height": 260,
        "content": "Set Minimum Sales Call Duration, if true = continue\n(In place to check for no shows)"
      },
      "typeVersion": 1
    },
    {
      "id": "1a538977-8220-4c4b-9be9-4d2fdac7a860",
      "name": "Deepgram transcribing",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        340,
        -60
      ],
      "parameters": {
        "url": "https://api.deepgram.com/v1/listen",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendQuery": true,
        "sendHeaders": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Take audio recording').item.json.download_url }}"
            }
          ]
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nova-3"
            },
            {
              "name": "smart_format",
              "value": "true"
            },
            {
              "name": "paragraphs",
              "value": "true"
            },
            {
              "name": "diarize",
              "value": "true"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token INPUT TOKEN HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "retryOnFail": true,
      "typeVersion": 4.2,
      "waitBetween": 5000
    },
    {
      "id": "e1426cb4-7c43-410e-b4d9-7f74aa540c02",
      "name": "Take audio recording",
      "type": "n8n-nodes-base.code",
      "position": [
        140,
        -60
      ],
      "parameters": {
        "jsCode": "// Get just the M4A download URL\nconst items = $('Zoom Webhook').all();\n// Extract the M4A file from the recording files\nconst recordingFiles = items[0].json.body.payload.object.recording_files;\nconst m4aFile = recordingFiles.find(file => file.file_type === 'M4A');\n\nif (m4aFile) {\n  // Return the M4A file data\n  return {\n    json: {\n      id: m4aFile.id,\n      download_url: m4aFile.download_url,\n      play_url: m4aFile.play_url,\n      file_size: m4aFile.file_size,\n      recording_start: m4aFile.recording_start,\n      recording_end: m4aFile.recording_end,\n      file_extension: m4aFile.file_extension,\n      status: m4aFile.status\n    }\n  };\n} else {\n  // No M4A file found\n  return {\n    json: {\n      error: \"No M4A file found in the recording\"\n    }\n  };\n}"
      },
      "typeVersion": 2
    },
    {
      "id": "958d0033-a184-4f00-bc2c-ea13c244afb0",
      "name": "Zoom Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1280,
        -140
      ],
      "webhookId": "b64d9d73-b003-4832-b921-c790667491bb",
      "parameters": {
        "path": "zoom-webhook-UNIQUEID",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "67857410-be3b-4a8b-9da1-ca2ffd1dc239",
      "name": "Set Fields (Form Submission)",
      "type": "n8n-nodes-base.set",
      "position": [
        -720,
        440
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "ae98528e-92df-4962-86e9-17b2d1b10915",
              "name": "SubmissionName",
              "type": "string",
              "value": "={{ $json.clientInfo.name }}"
            },
            {
              "id": "c5154200-16af-4476-9a4a-b001cff984ae",
              "name": "Email",
              "type": "string",
              "value": "={{ $json.clientInfo.email }}"
            },
            {
              "id": "3e0d7987-7aea-4c40-a171-3bc5073ecb57",
              "name": "Company",
              "type": "string",
              "value": "={{ $json.clientInfo.company }}"
            },
            {
              "id": "cff06660-0e51-4a8d-9ab9-b3d32922ac30",
              "name": "SalesRep",
              "type": "string",
              "value": "={{ $json.callInfo.salesRep }}"
            },
            {
              "id": "a0b6e1d3-f880-4038-987e-490a8a578c83",
              "name": "Prospect",
              "type": "string",
              "value": "={{ $json.callInfo.prospect }}"
            },
            {
              "id": "bd66ab34-467e-4665-bd59-a587970a6d62",
              "name": "CallDate",
              "type": "string",
              "value": "={{ $json.callInfo.callDate }}"
            },
            {
              "id": "81087c69-afbe-448a-8f7a-47c98bba333e",
              "name": "SubmissionDate",
              "type": "string",
              "value": "={{ $json.callInfo.submittedAt }}"
            },
            {
              "id": "d0aaae9b-bf36-401f-bca3-503321df8d56",
              "name": "Transcript",
              "type": "string",
              "value": "={{ $json.transcriptClean }}"
            },
            {
              "id": "7a705fea-5ff1-49e2-9cc5-db97b729dbc7",
              "name": "TranscriptTS",
              "type": "string",
              "value": "={{ $json.transcriptWithTimestamps }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "b8b644cf-f51c-4ffd-ba76-57e94c7b20d5",
      "name": "Set Fields (Zoom Route)",
      "type": "n8n-nodes-base.set",
      "position": [
        580,
        -60
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "ac8e0ec1-f510-4390-9bc3-fb484ab8f133",
              "name": "Name",
              "type": "string",
              "value": "={{ $('Zoom Webhook').item.json.body.payload.object.topic }}"
            },
            {
              "id": "877920ab-ae3a-49ee-8cd2-0c20f18260db",
              "name": "Call date",
              "type": "string",
              "value": "={{ $('Zoom Webhook').item.json.body.payload.object.start_time }}"
            },
            {
              "id": "4840dfb8-faf1-4a18-be2e-f9657bf8dc98",
              "name": "Call UUID",
              "type": "string",
              "value": "={{ $('Zoom Webhook').item.json.body.payload.object.uuid }}"
            },
            {
              "id": "34ae0e1a-326c-486f-bf11-4fde1a7d699f",
              "name": "Host's Email",
              "type": "string",
              "value": "={{ $('Zoom Webhook').item.json.body.payload.object.host_email }}"
            },
            {
              "id": "a0351b9b-31f7-4d86-ac43-e32536ca477e",
              "name": "Duration",
              "type": "string",
              "value": "={{ $('Zoom Webhook').item.json.body.payload.object.duration }}"
            },
            {
              "id": "e98d6810-9e7e-4022-8f0d-01c227155a10",
              "name": "Transcript",
              "type": "string",
              "value": "={{ $json.results.channels[0].alternatives[0].transcript }}"
            },
            {
              "id": "cfc47604-190c-43f7-8b23-2c70c878353d",
              "name": "Video Recording Link",
              "type": "string",
              "value": "={{ $('Zoom Webhook').item.json.body.payload.object.share_url }}"
            },
            {
              "id": "0fdd3687-53a2-440c-a6af-c81b4020d59f",
              "name": "Audio Recording Link",
              "type": "string",
              "value": "={{ $('Zoom Webhook').item.json.body.payload.object.recording_files[2].download_url }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "dc270ade-b057-41bd-af3b-05bb4c8765dc",
      "name": "Clean Data from Both Routes",
      "type": "n8n-nodes-base.code",
      "position": [
        -380,
        440
      ],
      "parameters": {
        "jsCode": "// Get input data\nconst items = $input.all();\nconst data = items[0].json;\n\n// Determine the source based on available fields\nconst isFormSubmission = !!data.SubmissionName;\nconst isZoomRecording = !!data['Call UUID'];\n\n// Normalize the data structure\nlet normalizedData = {\n  // Common fields\n  transcript: data.Transcript || '',\n  \n  // Map different field names to consistent ones\n  name: data.SubmissionName || data.Name || '',\n  email: data.Email || data[\"Host's Email\"] || '',  // Fixed: Check both field names\n  company: data.Company || 'AI Acquisition', // Default if not in Zoom\n  salesRep: data.SalesRep || data[\"Host's Email\"] || '',\n  prospect: data.Prospect || extractProspectFromName(data.Name) || '',\n  callDate: data.CallDate || data['Call date'] || '',\n  \n  // Source-specific fields\n  source: isFormSubmission ? 'form_submission' : 'zoom_recording',\n  submissionDate: data.SubmissionDate || null,\n  callUUID: data['Call UUID'] || null,\n  duration: data.Duration || null,\n  videoLink: data['Video Recording Link'] || null,\n  audioLink: data['Audio Recording Link'] || null,\n  \n  // Keep track of what we have\n  hasTranscript: !!(data.Transcript && data.Transcript.length > 0),\n  hasRecordingLinks: !!(data['Video Recording Link'] || data['Audio Recording Link'])\n};\n\n// Helper function to extract prospect name from Zoom topic\nfunction extractProspectFromName(name) {\n  if (!name) return '';\n  // Extract name before colon (e.g., \"Todd Sandberg: AI Business Strategy Call\" -> \"Todd Sandberg\")\n  const match = name.match(/^([^:]+):/);\n  return match ? match[1].trim() : '';\n}\n\nreturn {\n  json: normalizedData\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "5863d066-6342-4539-aa0c-23511e0e6625",
      "name": "OpenRouter Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        540,
        600
      ],
      "parameters": {
        "model": "google/gemini-2.5-pro-preview",
        "options": {
          "maxTokens": 32768,
          "maxRetries": 3,
          "temperature": 0.2
        }
      },
      "typeVersion": 1
    },
    {
      "id": "5a8a9650-116b-465e-ab0c-82aada7b2538",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -120
      ],
      "parameters": {
        "color": 6,
        "width": 640,
        "height": 220,
        "content": "Use Deepgram to transcribe audio file from Zoom Recording"
      },
      "typeVersion": 1
    },
    {
      "id": "4078f4f5-fb7c-4dc5-bc98-72332767878a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -100,
        380
      ],
      "parameters": {
        "color": 5,
        "width": 840,
        "height": 380,
        "content": "Use AI to analyze the call recording"
      },
      "typeVersion": 1
    },
    {
      "id": "931cd653-f0c3-4842-b9e9-2751ff4e15fa",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        840,
        380
      ],
      "parameters": {
        "color": 4,
        "width": 980,
        "height": 260,
        "content": "Format and publish to Google Sheets"
      },
      "typeVersion": 1
    },
    {
      "id": "0868cd60-ad66-4b8b-97ae-7bd59511d2e8",
      "name": "Format for Sheets",
      "type": "n8n-nodes-base.code",
      "position": [
        1120,
        440
      ],
      "parameters": {
        "jsCode": "// Add emojis and format the extracted data for display\nconst items = $('Format the Analysis').all();\nconst data = items[0].json.output || items[0].json;\n\n// Get the GID from the Set node\nconst SUMMARY_SHEET_GID = $input.first().json.GID || \"123456789\";\n\n// Get the raw analysis from the first LLM\nconst rawAnalysis = $('Summarize the call').first().json.output || \n                   $('Summarize the call').first().json.text || \n                   $('Summarize the call').first().json || \n                   '';\n\n// Helper function to add emojis to sections\nfunction formatWithEmojis(extractedData) {\n  const formatted = JSON.parse(JSON.stringify(extractedData)); // Deep clone\n  \n  // Add emojis to category analysis\n  formatted.categoryAnalysis = formatted.categoryAnalysis.map(category => ({\n    ...category,\n    categoryDisplay: `${getCategoryEmoji(category.category)} ${category.category}`,\n    whatWorkedDisplay: category.whatWorked.map(item => `✅ ${item}`),\n    whatNeededImprovementDisplay: category.whatNeededImprovement.map(item => `❌ ${item}`)\n  }));\n  \n  // Add emojis to final takeaways\n  formatted.finalTakeawaysDisplay = {\n    biggestStrength: `🔥 Biggest Strength: ${formatted.finalTakeaways.biggestStrength}`,\n    biggestWeakness: `⚠️ Biggest Weakness: ${formatted.finalTakeaways.biggestWeakness}`,\n    gameChangerForNextCall: `🎯 Game-Changer for Next Call: ${formatted.finalTakeaways.gameChangerForNextCall}`,\n    additionalNotes: formatted.finalTakeaways.additionalNotes ? `📝 Additional Notes: ${formatted.finalTakeaways.additionalNotes}` : null\n  };\n  \n  // Add emojis to objections\n  formatted.objectionsDisplay = formatted.objections.map((obj, index) => ({\n    ...obj,\n    objectionDisplay: `🚧 Objection ${index + 1}: ${obj.objection}`\n  }));\n  \n  return formatted;\n}\n\n// Helper function to get category-specific emojis\nfunction getCategoryEmoji(category) {\n  const emojiMap = {\n    'Call Control': '🎯',\n    'Discovery Depth': '🔍',\n    'Belief Shifting': '💡',\n    'Objection Handling': '🛠️',\n    'Pitch Effectiveness': '📊',\n    'Closing Strength': '💪'\n  };\n  return emojiMap[category] || '📌';\n}\n\n// Helper function for performance indicators\nfunction getPerformanceIndicator(score) {\n  if (score >= 9) return '🟢 Excellent';\n  if (score >= 7) return '🟡 Good';\n  if (score >= 5) return '🟠 Average';\n  return '🔴 Needs Work';\n}\n\n// Format the data with emojis\nconst formattedData = formatWithEmojis(data);\n\n// Calculate additional metrics\nconst avgScore = formattedData.categoryAnalysis.reduce((sum, cat) => sum + cat.score, 0) / formattedData.categoryAnalysis.length;\nconst performanceLevel = getPerformanceIndicator(avgScore);\nconst objectionHandlingRate = data.objections.length > 0 \n  ? Math.round((data.objections.filter(obj => obj.wasPostHandled === 'Yes' || obj.wasPostHandled === true).length / data.objections.length) * 100)\n  : 100;\n\n// Get individual category scores\nconst getScoreByCategory = (categoryName) => {\n  const cat = formattedData.categoryAnalysis.find(c => c.category === categoryName);\n  return cat ? cat.score : 0;\n};\n\n// Get metadata from original clean data if available\nconst metadata = $('Clean Data from Both Routes').first().json || {};\n\n// CREATE A UNIQUE ID FOR THIS CALL\nconst uniqueId = `${data.callMetadata.salesRep.split('@')[0]}_${new Date(data.callMetadata.callDate).getTime()}`;\n\n// CREATE SUMMARY DATA\nconst summaryData = {\n  \"🔑 Summary ID\": uniqueId,\n  \"📅 Date\": new Date(data.callMetadata.callDate).toLocaleDateString(),\n  \"👤 Rep\": data.callMetadata.salesRep.split('@')[0],\n  \"🎯 Prospect\": data.callMetadata.prospect,\n  \"✅ What Worked\": formattedData.categoryAnalysis.map(cat => \n    `${cat.categoryDisplay}:\\n${cat.whatWorked.map(item => `• ${item}`).join('\\n')}`\n  ).join('\\n\\n'),\n  \"❌ Areas to Improve\": formattedData.categoryAnalysis.map(cat => \n    `${cat.categoryDisplay}:\\n${cat.whatNeededImprovement.map(item => `• ${item}`).join('\\n')}`\n  ).join('\\n\\n'),\n  \"🔥 Key Strength\": data.finalTakeaways.biggestStrength,\n  \"⚠️ Key Weakness\": data.finalTakeaways.biggestWeakness,\n  \"🎯 Next Call Action\": data.finalTakeaways.gameChangerForNextCall,\n  \"📄 Full Analysis\": rawAnalysis\n};\n\n// CREATE MAIN DATA WITH DYNAMIC HYPERLINK\nconst mainData = {\n  \"📅 Call Date\": new Date(data.callMetadata.callDate).toLocaleDateString(),\n  \"👤 Sales Rep\": data.callMetadata.salesRep.split('@')[0],\n  \"🎯 Prospect\": data.callMetadata.prospect,\n  \"🏢 Company\": data.callMetadata.company,\n  \"⏱️ Duration\": data.callMetadata.duration,\n  \"📞 Source\": data.callMetadata.source,\n  \"🏆 Total Score\": `${data.scores.totalScore.score}/${data.scores.totalScore.maxScore} (${data.scores.totalScore.percentage}%)`,\n  \"📊 Performance Level\": performanceLevel,\n  \"✅ Deal Closed\": data.outcome.dealClosed === 'true' ? 'Yes' : 'No',\n  \"💰 Deal Value\": data.outcome.dealValue ? `$${parseInt(data.outcome.dealValue.replace(/,/g, '')).toLocaleString()}` : 'N/A',\n  \"🎯 Call Control Score\": `${getScoreByCategory('Call Control')}/10`,\n  \"🔍 Discovery Depth Score\": `${getScoreByCategory('Discovery Depth')}/10`,\n  \"💡 Belief Shifting Score\": `${getScoreByCategory('Belief Shifting')}/10`,\n  \"🛠️ Objection Handling Score\": `${getScoreByCategory('Objection Handling')}/10`,\n  \"📊 Pitch Effectiveness Score\": `${getScoreByCategory('Pitch Effectiveness')}/10`,\n  \"💪 Closing Strength Score\": `${getScoreByCategory('Closing Strength')}/10`,\n  \"📈 Average Score\": `${Math.round(avgScore * 10) / 10}/10`,\n  \"📋 View Summary\": `=HYPERLINK(\"#gid=${SUMMARY_SHEET_GID}&range=A\"&MATCH(\"${uniqueId}\",Summaries!A:A,0),\"📋 Click for Details\")`,\n  \"🚧 # of Objections\": data.objections.length,\n  \"📊 Objection Handling Rate %\": `${objectionHandlingRate}%`,\n  \"➡️ Next Steps\": data.outcome.nextSteps || 'N/A',\n  \"🔑 Call UUID\": metadata.callUUID || 'N/A',\n  \"🎥 Video Link\": metadata.videoLink || 'N/A',\n  \"🎵 Audio Link\": metadata.audioLink || 'N/A',\n  \"📝 Additional Notes\": data.finalTakeaways.additionalNotes || 'N/A',\n  \"🔑 Summary ID\": uniqueId\n};\n\n// Return both outputs\nreturn {\n  json: {\n    summaryData: summaryData,\n    mainData: mainData,\n    uniqueId: uniqueId\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "24ab8576-420c-4b21-9296-2f5b28dc9748",
      "name": "Set Summary GID",
      "type": "n8n-nodes-base.set",
      "position": [
        900,
        440
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "0bfa0930-3d9d-4e16-b891-9483197e77b3",
              "name": "GID",
              "type": "string",
              "value": "YOUR GID HERE"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "82a89917-1139-42da-bfb1-78eb61e52a40",
      "name": "Google Sheets - Summaries",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1340,
        440
      ],
      "parameters": {
        "columns": {
          "value": {
            "👤 Rep": "={{ $json.summaryData[\"👤 Rep\"] }}",
            "📅 Date": "={{ $json.summaryData[\"📅 Date\"] }}",
            "🎯 Prospect": "={{ $json.summaryData[\"🎯 Prospect\"] }}",
            "✅ What Worked": "={{ $json.summaryData[\"✅ What Worked\"] }}",
            "🔑 Summary ID": "={{ $json.summaryData[\"🔑 Summary ID\"] }}",
            "🔥 Key Strength": "={{ $json.summaryData[\"🔥 Key Strength\"] }}",
            "⚠️ Key Weakness": "={{ $json.summaryData[\"⚠️ Key Weakness\"] }}",
            "❌ Areas to Improve": "={{ $json.summaryData[\"❌ Areas to Improve\"] }}",
            "🎯 Next Call Action": "={{ $json.summaryData[\"🎯 Next Call Action\"] }}"
          },
          "schema": [
            {
              "id": "🔑 Summary ID",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "🔑 Summary ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "📅 Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "📅 Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "👤 Rep",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "👤 Rep",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "🎯 Prospect",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "🎯 Prospect",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "✅ What Worked",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "✅ What Worked",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "❌ Areas to Improve",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "❌ Areas to Improve",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "🔥 Key Strength",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "🔥 Key Strength",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "⚠️ Key Weakness",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "⚠️ Key Weakness",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "🎯 Next Call Action",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "🎯 Next Call Action",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 594387282,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u8xXJvZZCAZjJRI024_9TG1KMHWdA9U5qkh_TsEOVWI/edit#gid=594387282",
          "cachedResultName": "Summaries"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1u8xXJvZZCAZjJRI024_9TG1KMHWdA9U5qkh_TsEOVWI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u8xXJvZZCAZjJRI024_9TG1KMHWdA9U5qkh_TsEOVWI/edit?usp=drivesdk",
          "cachedResultName": "Sales Call Analysis"
        }
      },
      "typeVersion": 4.6
    },
    {
      "id": "a5f1f7ff-4c95-4051-9fa6-26095098d4f7",
      "name": "Google Sheets - Data",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1540,
        440
      ],
      "parameters": {
        "columns": {
          "value": {
            "📞 Source": "={{ $('Format for Sheets').item.json.mainData[\"📞 Source\"] }}",
            "🏢 Company": "={{ $('Format for Sheets').item.json.mainData[\"🏢 Company\"] }}",
            "🎯 Prospect": "={{ $json[\"🎯 Prospect\"] }}",
            "👤 Sales Rep": "={{ $('Format for Sheets').item.json.mainData[\"👤 Sales Rep\"] }}",
            "📅 Call Date": "={{ $('Format for Sheets').item.json.mainData[\"📅 Call Date\"] }}",
            "🔑 Call UUID": "={{ $('Format for Sheets').item.json.mainData[\"🔑 Call UUID\"] }}",
            "⏱️ Duration": "={{ $('Format for Sheets').item.json.mainData[\"⏱️ Duration\"] }}",
            "✅ Deal Closed": "={{ $('Format for Sheets').item.json.mainData[\"✅ Deal Closed\"] }}",
            "🎥 Video Link": "={{ $('Format for Sheets').item.json.mainData[\"🎥 Video Link\"] }}",
            "🎵 Audio Link": "={{ $('Format for Sheets').item.json.mainData[\"🎵 Audio Link\"] }}",
            "💰 Deal Value": "={{ $('Format for Sheets').item.json.mainData[\"💰 Deal Value\"] }}",
            "🔑 Summary ID": "={{ $('Format for Sheets').item.json.mainData[\"🔑 Summary ID\"] }}",
            "🏆 Total Score": "={{ $('Format for Sheets').item.json.mainData[\"🏆 Total Score\"] }}",
            "➡️ Next Steps": "={{ $('Format for Sheets').item.json.mainData[\"➡️ Next Steps\"] }}",
            "📋 View Summary": "={{ $('Format for Sheets').item.json.mainData[\"📋 View Summary\"] }}",
            "📈 Average Score": "={{ $('Format for Sheets').item.json.mainData[\"📈 Average Score\"] }}",
            "🚧 # of Objections": "={{ $('Format for Sheets').item.json.mainData[\"🚧 # of Objections\"] }}",
            "📝 Additional Notes": "={{ $('Format for Sheets').item.json.mainData[\"📝 Additional Notes\"] }}",
            "📊 Performance Level": "={{ $('Format for Sheets').item.json.mainData[\"📊 Performance Level\"] }}",
            "🎯 Call Control Score": "={{ $('Format for Sheets').item.json.mainData[\"🎯 Call Control Score\"] }}",
            "💡 Belief Shifting Score": "={{ $('Format for Sheets').item.json.mainData[\"💡 Belief Shifting Score\"] }}",
            "🔍 Discovery Depth Score": "={{ $('Format for Sheets').item.json.mainData[\"🔍 Discovery Depth Score\"] }}",
            "💪 Closing Strength Score": "={{ $('Format for Sheets').item.json.mainData[\"💪 Closing Strength Score\"] }}",
            "📊 Objection Handling Rate %": "={{ $('Format for Sheets').item.json.mainData[\"📊 Objection Handling Rate %\"] }}",
            "📊 Pitch Effectiveness Score": "={{ $('Format for Sheets').item.json.mainData[\"📊 Pitch Effectiveness Score\"] }}",
            "🛠️ Objection Handling Score": "={{ $('Format for Sheets').item.json.mainData[\"🛠️ Objection Handling Score\"] }}"
          },
          "schema": [
            {
              "id": "📅 Call Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "📅 Call Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "👤 Sales Rep",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "👤 Sales Rep",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "🎯 Prospect",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "🎯 Prospect",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "🏢 Company",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "🏢 Company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "📞 Source",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "📞 Source",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "⏱️ Duration",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "⏱️ Duration",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "🏆 Total Score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "🏆 Total Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "📊 Performance Level",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "📊 Performance Level",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "✅ Deal Closed",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "✅ Deal Closed",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "💰 Deal Value",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "💰 Deal Value",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "🎯 Call Control Score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "🎯 Call Control Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "🔍 Discovery Depth Score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "🔍 Discovery Depth Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "💡 Belief Shifting Score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "💡 Belief Shifting Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "🛠️ Objection Handling Score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "🛠️ Objection Handling Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "📊 Pitch Effectiveness Score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "📊 Pitch Effectiveness Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "💪 Closing Strength Score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "💪 Closing Strength Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "📈 Average Score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "📈 Average Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "📋 View Summary",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "📋 View Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "🚧 # of Objections",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "🚧 # of Objections",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "📊 Objection Handling Rate %",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "📊 Objection Handling Rate %",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "➡️ Next Steps",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "➡️ Next Steps",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "🔑 Call UUID",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "🔑 Call UUID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "🎥 Video Link",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "🎥 Video Link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "🎵 Audio Link",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "🎵 Audio Link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "📝 Additional Notes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "📝 Additional Notes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "🔑 Summary ID",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "🔑 Summary ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u8xXJvZZCAZjJRI024_9TG1KMHWdA9U5qkh_TsEOVWI/edit#gid=0",
          "cachedResultName": "Data"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1u8xXJvZZCAZjJRI024_9TG1KMHWdA9U5qkh_TsEOVWI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u8xXJvZZCAZjJRI024_9TG1KMHWdA9U5qkh_TsEOVWI/edit?usp=drivesdk",
          "cachedResultName": "Sales Call Analysis"
        }
      },
      "typeVersion": 4.6
    },
    {
      "id": "f9c9de4d-2a8b-4d1e-8200-0809f4c1b26c",
      "name": "Check if Call > Minimum Duration",
      "type": "n8n-nodes-base.code",
      "position": [
        -360,
        -120
      ],
      "parameters": {
        "jsCode": "// Get the recording timestamps from the input data\nconst inputData = $input.first().json;\nconst recordingStart = new Date(inputData.CallStart);\nconst recordingEnd = new Date(inputData.CallEnd);\n\n// Calculate duration in minutes\nconst durationMinutes = (recordingEnd - recordingStart) / (1000 * 60);\n\n// Get minimum duration from the input\nconst minDuration = inputData[\"MinimumDuration(Mins)\"];\n\n// Return ALL original data plus duration check results\nreturn {\n  call_duration: Math.round(durationMinutes),\n  minimum_duration: minDuration,\n  process_call: durationMinutes >= minDuration,\n  duration_message: `Call duration: ${Math.round(durationMinutes)} minutes (minimum: ${minDuration} minutes)`,\n  \n};"
      },
      "typeVersion": 2
    },
    {
      "id": "98c12b05-ed0a-4f7a-badf-a884f83f955d",
      "name": "Format the Analysis",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        440,
        440
      ],
      "parameters": {
        "text": "=You are a precise data extraction specialist. Your task is to extract structured information from a sales call analysis and format it as clean JSON.\n\n<metadata>\nSales Rep: {{ $('Clean Data from Both Routes').item.json.salesRep }}\nProspect: {{ $('Clean Data from Both Routes').item.json.prospect }}\nCall Date: {{ $('Clean Data from Both Routes').item.json.callDate }}\nDuration: {{ $('Clean Data from Both Routes').item.json.duration }} minutes\nCompany: {{ $('Clean Data from Both Routes').item.json.company }}\nSource: {{ $('Clean Data from Both Routes').item.json.source }}\n</metadata>\n\n<analysis>\n{{ $json.text }}\n</analysis>\n\nExtract the following information from the analysis above and return ONLY a valid JSON object with this exact structure:\n\n{\n  \"callMetadata\": {\n    \"salesRep\": \"extracted or from metadata\",\n    \"prospect\": \"extracted or from metadata\", \n    \"company\": \"from metadata\",\n    \"callDate\": \"from metadata\",\n    \"duration\": \"from metadata\",\n    \"source\": \"from metadata\"\n  },\n  \"scores\": {\n    \"callControl\": {\n      \"score\": 0,\n      \"maxScore\": 10,\n      \"percentage\": 0\n    },\n    \"discoveryDepth\": {\n      \"score\": 0,\n      \"maxScore\": 10,\n      \"percentage\": 0\n    },\n    \"beliefShifting\": {\n      \"score\": 0,\n      \"maxScore\": 10,\n      \"percentage\": 0\n    },\n    \"objectionHandling\": {\n      \"score\": 0,\n      \"maxScore\": 10,\n      \"percentage\": 0\n    },\n    \"pitchEffectiveness\": {\n      \"score\": 0,\n      \"maxScore\": 10,\n      \"percentage\": 0\n    },\n    \"closingStrength\": {\n      \"score\": 0,\n      \"maxScore\": 10,\n      \"percentage\": 0\n    },\n    \"totalScore\": {\n      \"score\": 0,\n      \"maxScore\": 60,\n      \"percentage\": 0\n    }\n  },\n  \"categoryAnalysis\": [\n    {\n      \"category\": \"Call Control\",\n      \"score\": 0,\n      \"whatWorked\": [\"extract actual points from analysis\"],\n      \"whatNeededImprovement\": [\"extract actual points from analysis\"],\n      \"keyQuotes\": [\"extract actual quotes if available\"]\n    }\n  ],\n  \"objections\": [\n    {\n      \"objection\": \"extract actual objection text\",\n      \"wasPreHandled\": true/false,\n      \"wasPostHandled\": true/false,\n      \"effectivenessScore\": 0,\n      \"suggestedFix\": \"extract suggested fix if provided\"\n    }\n  ],\n  \"finalTakeaways\": {\n    \"biggestStrength\": \"extract from analysis\",\n    \"biggestWeakness\": \"extract from analysis\", \n    \"gameChangerForNextCall\": \"extract from analysis\",\n    \"additionalNotes\": \"any other important observations\"\n  },\n  \"outcome\": {\n    \"dealClosed\": true/false/null,\n    \"dealValue\": \"extract if mentioned or null\",\n    \"nextSteps\": \"extract if mentioned or null\"\n  }\n}\n\nImportant extraction rules:\n1. Look for these emoji markers in the analysis:\n   - ✅ indicates \"What Worked\" sections\n   - ❌ indicates \"What Needed Improvement\" sections  \n   - 🔥 indicates \"Biggest Strength\"\n   - ⚠️ indicates \"Biggest Weakness\"\n   - 🎯 indicates \"Game-Changer for Next Call\"\n   - 📍 may indicate timestamps or quote markers\n   - 🛠️ may indicate the objection handling breakdown section\n   - 🚀 may indicate the final takeaways section\n   - 📊 typically marks the scoring breakdown table\n   - 🚧 typically marks individual objections\n\n2. Extract numerical scores exactly as shown in the analysis (e.g., if you see \"9/10\" extract score: 9, maxScore: 10)\n3. Calculate percentage as (score/maxScore)*100 rounded to nearest integer\n4. For \"categoryAnalysis\", create an entry for each of the 6 categories found in the analysis\n5. Summarize content following ✅ as \"whatWorked\" bullet points (max 100 characters each)\n6. Summarize content following ❌ as \"whatNeededImprovement\" bullet points (max 100 characters each)\n7. Extract actual quotes if present, otherwise leave empty array\n8. For objections section, extract each objection found in the analysis\n9. For \"outcome\", analyze the context to determine:\n   - \"dealClosed\": Look for indications of a signed deal, commitment, or purchase (e.g., \"made the investment\", \"enrolled\", \"signed up\")\n   - \"dealValue\": Extract any mentioned monetary amounts or deal sizes (e.g., \"$10,800\", \"$9,800\", \"10.8k\")\n   - \"nextSteps\": **IMPORTANT - Interpret and summarize the actual action items from the conversation, NOT verbatim text. Look for:**\n     * Scheduled meetings or calls mentioned\n     * Documents to be sent or reviewed\n     * Follow-up timelines discussed\n     * Specific tasks assigned to either party\n     * Decision deadlines mentioned\n     * Onboarding processes mentioned\n     **Format as a clear, actionable summary like: \"Schedule discovery call by Friday, send proposal after review, decision expected within 2 weeks\"**\n     **Do NOT just copy the exact words from the transcript. Instead, summarize what actions need to happen.**\n10. If any information is not found in the analysis, use appropriate defaults: null for strings, empty arrays for lists, false for booleans, 0 for numbers\n\nExamples of nextSteps interpretation:\n- If text mentions \"I'll send you the one pager and agreement links\" → Extract as: \"Review one-pager and agreement documents sent via email\"\n- If text mentions \"get you onboarded early next week\" → Extract as: \"Complete onboarding process early next week\"\n- If text mentions \"fill out onboarding doc and schedule call\" → Extract as: \"Complete onboarding documentation and schedule initial consultation\"\n- If prospect says \"likely going to do the 10.8\" but hasn't committed → Extract as: \"Prospect to make final decision on $10.8k package\"\n\nReturn ONLY the JSON object, no additional text or explanation.",
        "options": {},
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"callMetadata\": {\n    \"salesRep\": \"extracted or from metadata\",\n    \"prospect\": \"extracted or from metadata\", \n    \"company\": \"from metadata\",\n    \"callDate\": \"from metadata\",\n    \"duration\": \"from metadata\",\n    \"source\": \"from metadata\"\n  },\n  \"scores\": {\n    \"callControl\": {\n      \"score\": 0,\n      \"maxScore\": 10,\n      \"percentage\": 0\n    },\n    \"discoveryDepth\": {\n      \"score\": 0,\n      \"maxScore\": 10,\n      \"percentage\": 0\n    },\n    \"beliefShifting\": {\n      \"score\": 0,\n      \"maxScore\": 10,\n      \"percentage\": 0\n    },\n    \"objectionHandling\": {\n      \"score\": 0,\n      \"maxScore\": 10,\n      \"percentage\": 0\n    },\n    \"pitchEffectiveness\": {\n      \"score\": 0,\n      \"maxScore\": 10,\n      \"percentage\": 0\n    },\n    \"closingStrength\": {\n      \"score\": 0,\n      \"maxScore\": 10,\n      \"percentage\": 0\n    },\n    \"totalScore\": {\n      \"score\": 0,\n      \"maxScore\": 60,\n      \"percentage\": 0\n    }\n  },\n  \"categoryAnalysis\": [\n    {\n      \"category\": \"Call Control\",\n      \"score\": 0,\n      \"whatWorked\": [\"extract actual points from analysis\"],\n      \"whatNeededImprovement\": [\"extract actual points from analysis\"],\n      \"keyQuotes\": [\"extract actual quotes if available\"]\n    }\n  ],\n  \"objections\": [\n    {\n      \"objection\": \"extract actual objection text\",\n      \"wasPreHandled\": \"true/false\",\n      \"wasPostHandled\": \"true/false\",\n      \"effectivenessScore\": 0,\n      \"suggestedFix\": \"extract suggested fix if provided\"\n    }\n  ],\n  \"finalTakeaways\": {\n    \"biggestStrength\": \"extract from analysis\",\n    \"biggestWeakness\": \"extract from analysis\", \n    \"gameChangerForNextCall\": \"extract from analysis\",\n    \"additionalNotes\": \"any other important observations\"\n  },\n  \"outcome\": {\n    \"dealClosed\": \"true/false/null\",\n    \"dealValue\": \"extract if mentioned or null\",\n    \"nextSteps\": \"extract if mentioned or null\"\n  }\n}\n"
      },
      "typeVersion": 1
    },
    {
      "id": "e86932d4-6e46-4cde-9b52-6604f5061c16",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        -980
      ],
      "parameters": {
        "color": 7,
        "width": 380,
        "height": 180,
        "content": "## 🚀 Getting Started\nWelcome to your Sales Call Analyzer! This workflow automatically analyzes sales calls from two sources: manual form submissions and Zoom recordings. Click \"Activate\" in the top bar to turn on the workflow."
      },
      "typeVersion": 1
    },
    {
      "id": "cd1cebed-deb3-4880-9063-c6519c91bd64",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        260
      ],
      "parameters": {
        "color": 7,
        "width": 300,
        "height": 380,
        "content": "## 📋 Form Setup Guide\nTo get your form URL: Make sure workflow is **activated**, click \"On form submission\" node, copy the production URL shown. Share this URL with your team. The form won't work until activated!"
      },
      "typeVersion": 1
    },
    {
      "id": "e3039029-5b0d-4e1a-930b-35b058edbc44",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        -400
      ],
      "parameters": {
        "color": 7,
        "width": 300,
        "height": 440,
        "content": "## 🔗 Zoom Webhook Configuration\nSetting up Zoom automation: Go to [marketplace.zoom.us/develop/create](https://marketplace.zoom.us/develop/create), select **Server to Server OAuth App**, create app, add \"Recording Completed\" event webhook, copy webhook URL from \"Zoom Webhook\" node, paste in Zoom config, add secret to \"Hash keys\" node."
      },
      "typeVersion": 1
    },
    {
      "id": "d82e7b17-98e0-43e8-ad33-dd7500e276b3",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        -320
      ],
      "parameters": {
        "color": 7,
        "width": 260,
        "height": 180,
        "content": "## 🎙️ Deepgram Setup\nTo transcribe recordings: Sign up at [deepgram.com](https://deepgram.com), get API key, in \"Deepgram transcribing\" node replace \"INPUT TOKEN HERE\" with \"Token YOUR_API_KEY\". Free tier includes $200 credits!"
      },
      "typeVersion": 1
    },
    {
      "id": "a6ace08d-9ab6-4492-92c0-ceb412e55f7f",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        200
      ],
      "parameters": {
        "color": 7,
        "width": 460,
        "content": "## 🤖 OpenRouter AI Configuration\nSetting up AI analysis: Create account at [openrouter.ai](https://openrouter.ai), add credits ($10-20 recommended), generate API key, add to both OpenRouter nodes. Keep model as: google/gemini-2.5-pro-preview"
      },
      "typeVersion": 1
    },
    {
      "id": "48899006-5d5f-4daf-8e04-8da73e6b8aea",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        260
      ],
      "parameters": {
        "color": 7,
        "width": 940,
        "height": 100,
        "content": "## 📊 Google Sheets Integration\nConnect your spreadsheet: [Copy template](https://docs.google.com/spreadsheets/d/1u8xXJvZZCAZjJRI024_9TG1KMHWdA9U5qkh_TsEOVWI/copy), click Google Sheets nodes, follow [OAuth setup](https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/), update GID in \"Set Summary GID\" node."
      },
      "typeVersion": 1
    },
    {
      "id": "07a3df43-006d-4e19-b1e5-d6d39fd41866",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        -780
      ],
      "parameters": {
        "color": 7,
        "width": 380,
        "content": "## 🔄 How This Workflow Works\nTwo analysis paths: Form submissions (manual transcript upload) OR Zoom recordings (automatic transcription). Both create detailed analysis with scores, strengths, weaknesses, and actionable insights saved to Google Sheets!"
      },
      "typeVersion": 1
    },
    {
      "id": "abbd7d3c-0c70-4482-8006-1520b5f6c7a8",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -540,
        -360
      ],
      "parameters": {
        "color": 7,
        "width": 480,
        "height": 140,
        "content": "## ⚙️ Minimum Call Duration Check\nNo-show protection: Checks if calls are >10 minutes before processing. Prevents analyzing empty meetings and saves API costs. Adjust minimum in \"Set Minimum Call Duration\" node if needed."
      },
      "typeVersion": 1
    },
    {
      "id": "ec85abcc-febc-4786-a87f-e8379fc64d99",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        660
      ],
      "parameters": {
        "color": 7,
        "width": 760,
        "height": 120,
        "content": "## 📈 Understanding Your Reports\nTwo sheets created: Data Sheet (metrics & scores with summary links) and Summaries Sheet (detailed analysis). Scores 6 categories (0-10 each): Call Control, Discovery, Belief Shifting, Objections, Pitch, Closing."
      },
      "typeVersion": 1
    },
    {
      "id": "7c0c0759-89b4-4127-a939-c42c827b6927",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        -600
      ],
      "parameters": {
        "color": 7,
        "width": 380,
        "content": "## 🔧 Troubleshooting Tips\nCommon issues: Workflow not activated? Form not working? Check activation. Zoom failing? Verify webhook secret. No transcript? Check Deepgram key. Analysis failing? Verify OpenRouter credits. Check execution logs for errors!"
      },
      "typeVersion": 1
    }
  ],
  "active": true,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "13869967-656b-4bb1-a741-2f43ea0dd428",
  "connections": {
    "If True": {
      "main": [
        [
          {
            "node": "Take audio recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash keys": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revalidation": {
      "main": [
        [
          {
            "node": "Hash keys",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Minimum Call Duration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoom Webhook": {
      "main": [
        [
          {
            "node": "Revalidation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Form Data": {
      "main": [
        [
          {
            "node": "Set Fields (Form Submission)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Summary GID": {
      "main": [
        [
          {
            "node": "Format for Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets - Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Clean Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Revalidation Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize the call": {
      "main": [
        [
          {
            "node": "Format the Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add notes structure": {
      "main": [
        [
          {
            "node": "Summarize the call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format the Analysis": {
      "main": [
        [
          {
            "node": "Set Summary GID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take audio recording": {
      "main": [
        [
          {
            "node": "Deepgram transcribing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deepgram transcribing": {
      "main": [
        [
          {
            "node": "Set Fields (Zoom Route)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize the call",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Format the Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields (Zoom Route)": {
      "main": [
        [
          {
            "node": "Clean Data from Both Routes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Summaries": {
      "main": [
        [
          {
            "node": "Google Sheets - Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Minimum Call Duration": {
      "main": [
        [
          {
            "node": "Check if Call > Minimum Duration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data from Both Routes": {
      "main": [
        [
          {
            "node": "Add notes structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields (Form Submission)": {
      "main": [
        [
          {
            "node": "Clean Data from Both Routes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Call > Minimum Duration": {
      "main": [
        [
          {
            "node": "If True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}