twitter-viral-tweets-scraper-workflow.json
{
  "meta": {
    "instanceId": "da4ab0dfab9545594afdbbd8e2347c29274c36efe4d80cdc8b66410174bf5bec",
    "templateCredsSetupCompleted": true
  },
  "name": "Twitter Viral Tweets Scraper",
  "nodes": [
    {
      "id": "690337d0-4bbf-4825-9c8a-90daa2e6e412",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        -240
      ],
      "parameters": {
        "color": 7,
        "width": 1980,
        "height": 80,
        "content": "# TWITTER/X VIRAL TWEETS SCRAPER"
      },
      "typeVersion": 1
    },
    {
      "id": "924fe4cc-a58a-43fb-9966-94c244ea8bc0",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -120
      ],
      "parameters": {
        "color": 4,
        "width": 1360,
        "height": 260,
        "content": "# Scraping X"
      },
      "typeVersion": 1
    },
    {
      "id": "a5f17487-c733-4a69-9431-39233c059b76",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1580,
        -120
      ],
      "parameters": {
        "width": 500,
        "height": 260,
        "content": "# Checking Count\n"
      },
      "typeVersion": 1
    },
    {
      "id": "d61b281f-f3bc-4564-84dc-eafb8618178c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        220
      ],
      "parameters": {
        "color": 5,
        "width": 1360,
        "height": 260,
        "content": "# Increasing Count & Cursor\n"
      },
      "typeVersion": 1
    },
    {
      "id": "2dc1f870-feda-4369-9ec3-ca2d0fe5f3c9",
      "name": "Get Tweets",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        940,
        -40
      ],
      "parameters": {
        "url": "https://api.twitterapi.io/twitter/tweet/advanced_search",
        "options": {},
        "sendQuery": true,
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "OpenAI"
            },
            {
              "name": "queryType",
              "value": "Top"
            },
            {
              "name": "cursor",
              "value": "={{ $json.cursor }}"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "mPUUu46zbC7kLg5i",
          "name": "Perplexity"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "41032642-ab9b-439f-8588-42c706329475",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "position": [
        820,
        280
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "bd48d761-0f25-474e-bfba-7c66a2b19ef2",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1880,
        -40
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "9c98c77c-58cd-48fc-aa70-a87b697b72e0",
      "name": "Extract Info",
      "type": "n8n-nodes-base.code",
      "position": [
        1120,
        -40
      ],
      "parameters": {
        "jsCode": "// This approach handles both single tweets and collections\n// It focuses on properly formatting the output for n8n\n// First, let's log what we're working with for debugging\nconsole.log(\"Input item structure:\", JSON.stringify($input.item, null, 2));\n\n// Function to format the date in a more human-readable way\nfunction formatDate(dateString) {\n  if (!dateString) return '';\n  \n  try {\n    const date = new Date(dateString);\n    // Format: \"March 13, 2025 at 19:25\"\n    return date.toLocaleString('en-US', {\n      year: 'numeric',\n      month: 'long',\n      day: 'numeric',\n      hour: '2-digit',\n      minute: '2-digit'\n    });\n  } catch (error) {\n    console.log(\"Error formatting date:\", error);\n    return dateString; // Return original if parsing fails\n  }\n}\n\n// Check if this is a Twitter Search result with multiple tweets\nif ($input.item.json.tweets && Array.isArray($input.item.json.tweets) && $input.item.json.tweets.length > 0) {\n  // This is a collection of tweets\n  // In n8n, to output multiple items, we need to use an array of objects with a json property\n  const items = $input.item.json.tweets.map(tweet => {\n    return {\n      json: {\n        tweetId: tweet.id || '',\n        url: tweet.url || '',\n        content: tweet.text || '',\n        likeCount: tweet.likeCount || 0,\n        retweetCount: tweet.retweetCount || 0,\n        replyCount: tweet.replyCount || 0,\n        quoteCount: tweet.quoteCount || 0,\n        viewCount: tweet.viewCount || 0,\n        createdAt: formatDate(tweet.createdAt)\n      }\n    };\n  });\n  \n  console.log(`Processing ${items.length} tweets`);\n  \n  // Return all items\n  return items;\n} else {\n  // This is a single tweet, just extract and return its data\n  const tweetData = {\n    tweetId: $input.item.json.id || '',\n    url: $input.item.json.url || '',\n    content: $input.item.json.text || '',\n    likeCount: $input.item.json.likeCount || 0,\n    retweetCount: $input.item.json.retweetCount || 0,\n    replyCount: $input.item.json.replyCount || 0,\n    quoteCount: $input.item.json.quoteCount || 0,\n    viewCount: $input.item.json.viewCount || 0,\n    createdAt: formatDate($input.item.json.createdAt)\n  };\n  \n  console.log(\"Processing single tweet\");\n  \n  // Return as a single item\n  return {\n    json: tweetData\n  };\n}"
      },
      "typeVersion": 2
    },
    {
      "id": "6b07f211-04db-4bbc-b01d-858d21f9d2fb",
      "name": "Add to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1300,
        -40
      ],
      "parameters": {
        "columns": {
          "value": {
            "URL": "={{ $json.url }}",
            "Date": "={{ $json.createdAt }}",
            "Likes": "={{ $json.likeCount }}",
            "Views": "={{ $json.viewCount }}",
            "Quotes": "={{ $json.quoteCount }}",
            "Content": "={{ $json.content }}",
            "Replies": "={{ $json.replyCount }}",
            "Retweets": "={{ $json.retweetCount }}",
            "Tweet ID": "={{ $json.tweetId }}"
          },
          "schema": [
            {
              "id": "Tweet ID",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Tweet ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Content",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Likes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Likes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Retweets",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Retweets",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Replies",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Replies",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Quotes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Quotes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Views",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Views",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/edit?usp=drivesdk",
          "cachedResultName": "Twitter Data"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xxxxxxxxxxxxxxxx",
          "name": "xxxxx"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "0fa90484-d1c6-48d9-a6e7-5e5ef2eccb2b",
      "name": "Set Count and Cursor",
      "type": "n8n-nodes-base.set",
      "position": [
        1340,
        280
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "5be1f203-28ea-4635-b42d-01f2a5bb367f",
              "name": "count",
              "type": "string",
              "value": "={{ $json.count }}"
            },
            {
              "id": "b68f8c17-c045-4b5b-8f8b-367ec72b72a3",
              "name": "cursor",
              "type": "string",
              "value": "={{ $('Set Increase').item.json.cursor }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "867a53a2-ea41-4cfe-a56f-ce4e1aae424d",
      "name": "Increase Count",
      "type": "n8n-nodes-base.code",
      "position": [
        1160,
        280
      ],
      "parameters": {
        "jsCode": "// This code should be placed in an n8n Function node\n\n// Get the input items\nconst items = $input.all();\n\n// Process each item in the array\nreturn items.map(item => {\n  // Create a new value for the count field\n  let newCount = 1;\n  \n  // If there's an existing counter value, use it as a base\n  if (item.json && item.json.counter !== undefined) {\n    newCount = item.json.counter + 1;\n  }\n  \n  // Ensure json property exists\n  if (!item.json) {\n    item.json = {};\n  }\n  \n  // Set the value to the new field name \"count\"\n  item.json.count = newCount;\n  \n  // Return the modified item\n  return item;\n});"
      },
      "typeVersion": 2
    },
    {
      "id": "bb695079-4162-4b41-86f9-d3cd642a88e1",
      "name": "Set Increase",
      "type": "n8n-nodes-base.set",
      "position": [
        980,
        280
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "a252eb06-03cd-4e3f-84b0-2a46082606ca",
              "name": "counter",
              "type": "number",
              "value": "={{ $('Counter').item.json.counter }}"
            },
            {
              "id": "43222ff8-c354-4afa-b050-7d55fe30c865",
              "name": "cursor",
              "type": "string",
              "value": "={{ $('Get Tweets').item.json.next_cursor }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "174965ea-a245-4cb5-b6b4-69fb81be986c",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1660,
        -40
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "928894d0-2876-4996-9b1e-3d365b903771",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $('Counter').item.json.counter }}",
              "rightValue": 3
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "5ec6d7a0-dec5-4ba6-9fb4-315a5948ff6a",
      "name": "Set Count",
      "type": "n8n-nodes-base.set",
      "position": [
        560,
        -40
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "b2f9c3c3-32f4-48b4-b72f-76f03c35b750",
              "name": "count",
              "type": "number",
              "value": 1
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "5c29d56c-4cf6-4daf-9877-c6485d0062c1",
      "name": "Counter",
      "type": "n8n-nodes-base.set",
      "position": [
        760,
        -40
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "bc47f40e-0850-4762-9efb-999608a2c096",
              "name": "counter",
              "type": "number",
              "value": "={{ $json.count }}"
            },
            {
              "id": "92034c06-3976-4099-a7a5-28a252204472",
              "name": "cursor",
              "type": "string",
              "value": "={{ $json.cursor }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "f81b37b0-84b1-4019-98d2-555eac05d440",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        380,
        -40
      ],
      "parameters": {},
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Set Increase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Counter": {
      "main": [
        [
          {
            "node": "Get Tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Count": {
      "main": [
        [
          {
            "node": "Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tweets": {
      "main": [
        [
          {
            "node": "Extract Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Info": {
      "main": [
        [
          {
            "node": "Add to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Increase": {
      "main": [
        [
          {
            "node": "Increase Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increase Count": {
      "main": [
        [
          {
            "node": "Set Count and Cursor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Count and Cursor": {
      "main": [
        [
          {
            "node": "Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}